@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
@media (min-width: 1199px) and (max-width: 1824px) {
  .mega-left-title strong:after {
    display: none;
  }
}
@media (max-width: 1199px) {
  body.boxed-layout .body-wrapper {
    width: 100%;
    padding: 0;
  }
  .nav-pills.nav-mega .shop4u-mega-menu .dropdown-menu.column-4,
  .nav-pills.nav-mega .shop4u-mega-menu .dropdown-menu.column-5,
  .nav-pills.nav-mega .shop4u-mega-menu .dropdown-menu.column-1 {
    min-width: 970px;
  }
  .wrapper_404 .content_404 .block-middle .shop4u_search_404 .top-search .topsearch-entry .form-search {
    width: 545px;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone {
    width: 50%;
    padding: 0 10px;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone.image-content {
    margin: 0;
  }
  .single.main .post .entry-wrap .entry-content .entry-summary p .alignnone {
    width: 50%;
    margin: 0 0 30px !important;
  }
  .mega-left-title strong:after {
    display: none;
  }
  .responsive-post-slider .resp-slider-container .slider .item:nth-child(2n) .item-inner .item-detail {
    display: inline-block;
    flex-direction: unset;
    order: unset;
  }
  .sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail .item-content {
    padding-top: 100px;
  }
  .sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs li {
    margin: 0 8px;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form input[type="email"] {
    min-width: 220px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-style1 .header-mid .nav-pills > li > a,
  .header .header-mid .nav-pills > li > a {
    padding: 22px 18px;
  }
  .header-style1 .header-mid .top-header {
    padding-top: 7px;
  }
  #subscribe_popup .subscribe-popup-container {
    text-align: center;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form {
    float: none;
    display: inline-block;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-form {
    float: none;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    margin: 0;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    margin: 0;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-checkbox label {
    display: inline-block;
  }
  .sw-child-cat .childcat-slider-content {
    border-right: 1px solid #e1e1e1;
  }
  .wrapper_vertical_menu {
    min-width: 220px;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td .quantity {
    width: 100px;
  }
  .home-style1 .header-style1 .wrapper_vertical_menu .vertical-megamenu > li > a {
    line-height: 41px;
  }
  .home-style1 .header-style1 .wrapper_vertical_menu .vertical-megamenu > li:last-child > a {
    line-height: 39px;
  }
  .header-bottom .contact-header {
    display: none;
  }
  .wrapper_vertical_menu .vertical-megamenu > li.shop4u-mega-menu > .column-4 {
    min-width: 750px;
  }
  .wrapper_vertical_menu .vertical-megamenu > li.shop4u-mega-menu > .column-4 > li {
    width: 240px !important;
  }
  .mega-left-title::after {
    right: 10px;
    left: auto;
  }
  .header-style1 .mega-left-title::after {
    right: 20px;
    left: auto;
  }
  .rtl .header-style1 .mega-left-title::after {
    left: 25px;
    right: auto;
  }
  .rtl .mega-left-title::after {
    left: 10px;
    right: auto;
  }
  .mega-menu .wrap-content .item .item-content h3 {
    font-size: 14px;
  }
  .sw-best-seller-product .wrap-content {
    padding: 15px 5px 2px;
  }
  .sw-best-seller-product-slider .carousel-inner .item .item-detail,
  .sw-featured-product-slider .carousel-inner .item .item-detail {
    margin-bottom: 15px;
  }
  .sw-best-seller-product-slider .carousel-inner .item,
  .sw-featured-product-slider .carousel-inner .item {
    padding-top: 0;
  }
  .rtl .header-bottom .header-right {
    float: left;
  }
  .products-wrapper .products-nav .catalog-ordering {
    float: right;
  }
  .rtl .products-wrapper .products-nav .catalog-ordering {
    float: left;
  }
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
  .product_detail .content_product_detail a.compare {
    margin: 0 5px 0 0;
  }
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
  .product_detail .content_product_detail a.compare {
    margin: 0 0 0 5px;
  }
  .product_detail .content_product_detail .social-share .title-share {
    padding-right: 10px;
  }
  .rtl .product_detail .content_product_detail .social-share .title-share {
    padding-left: 10px;
    padding-right: 0;
  }
  .product_detail .content_product_detail .cart .group_table td {
    height: 70px !important;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td.label {
    white-space: nowrap;
    padding-left: 0;
  }
  .rtl .product_detail .content_product_detail .cart .group_table tbody tr td.label {
    padding-left: 10px;
    padding-right: 0;
  }
  .product_detail .content_product_detail .cart .group_table .woocommerce-grouped-product-list-item__price {
    font-size: 16px;
  }
  .product_detail .content_product_detail .cart .group_table .woocommerce-grouped-product-list-item__price del {
    font-size: 16px;
  }
  .product_detail .content_product_detail .cart .group_table .woocommerce-grouped-product-list-item__price ins {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .resmenu-container .menu-responsive-wrapper ul.shop4u_resmenu {
    max-height: 228px;
    overflow-y: auto;
  }
  .header-style1 .header-mid {
    padding: 17px 0;
  }
  .header-style1 .header-mid .top-header {
    width: 100%;
    margin-bottom: 15px;
    float: none;
  }
  .header-style1 .header-mid .search-cate {
    float: left;
  }
  .rtl .header-style1 .header-mid .search-cate {
    float: right;
  }
  .header-bottom .contact-header {
    padding-top: 11px;
    background-position: left top 12px;
  }
  .shop4u-logo {
    text-align: center;
  }
  .shop4u-logo a {
    display: inline-block;
  }
  .newsletter-footer-top {
    text-align: center;
  }
  .footer .footer-top .newsletter-footer {
    float: none;
    text-align: center;
  }
  .rtl .footer .footer-top .newsletter-footer {
    float: none;
  }
  .footer .footer-top .newsletter-footer .form-newsletter {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .rtl .footer .footer-top .newsletter-footer .form-newsletter {
    float: none;
  }
  #subscribe_popup .subscribe-popup-container {
    text-align: center;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form {
    float: none;
    display: inline-block;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-form {
    float: none;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    margin: 0;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    margin: 0;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-checkbox label {
    display: inline-block;
  }
  .sw-best-seller-product-slider .carousel-inner .image-slide,
  .sw-featured-product-slider .carousel-inner .image-slide {
    display: none;
    float: none;
    width: auto;
  }
  .sw-best-seller-product-slider .carousel-inner .item,
  .sw-featured-product-slider .carousel-inner .item {
    float: none;
    width: auto;
  }
  .rtl .sw-best-seller-product-slider .carousel-inner .item,
  .rtl .sw-featured-product-slider .carousel-inner .item {
    float: none;
  }
  .sw-best-seller-product-slider .carousel-inner .item .item-detail:last-child,
  .sw-featured-product-slider .carousel-inner .item .item-detail:last-child {
    margin-bottom: 30px;
  }
  .vertical_megamenu-header .mega-left-title {
    display: none;
  }
  .vertical_megamenu-header .wrapper_vertical_menu {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
  }
  .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    display: block;
    position: relative;
    z-index: 4;
    margin-top: 11px;
  }
  .header-style1 .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    background-color: #222;
  }
  .rtl .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    float: right;
  }
  .vertical_megamenu-header .vertical-megamenu {
    display: none;
  }
  .header-style1 .header-bottom .resmenu-container .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .header-style1 .header-bottom .resmenu-container .navbar-toggle .icon-bar:hover {
    background-color: #fff;
  }
  .header-style1 .header-mid {
    text-align: center;
  }
  .header-style1 .header-mid .main-menu {
    float: none;
    display: inline-block;
  }
  .products-wrapper .products-nav .catalog-ordering {
    float: right;
  }
  .rtl .products-wrapper .products-nav .catalog-ordering {
    float: left;
  }
  .quickview-container .product_detail .content_product_detail .social-share .title-share {
    padding-right: 10px;
  }
  .rtl .quickview-container .product_detail .content_product_detail .social-share .title-share {
    padding-left: 10px;
    padding-right: 0;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .tab-pane .responsive-slider .slider .item .item-wrap {
    padding: 4px 0 5px;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content.style1 .button-collapse {
    left: 90px;
    right: auto;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content.style1 .button-collapse {
    right: 90px;
    left: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content.style1 .nav-tabs-select ul {
    left: 0;
    right: auto;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content.style1 .nav-tabs-select ul {
    right: 0;
    left: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse {
    position: absolute;
    top: 5px;
    z-index: 99;
    display: block;
    background: #cccccc none repeat scroll 0 0;
    border-radius: 3px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    right: 90px;
    text-align: center;
    width: 30px;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse:hover {
    background: #ed1c24;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse {
    left: 90px;
    right: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select {
    display: block;
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul {
    padding: 0;
    border: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
    position: absolute;
    top: 40px;
    z-index: 99;
    right: 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background: #fff;
    width: 200px;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul {
    left: 0;
    right: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li {
    list-style: none;
    line-height: 40px;
    float: none !important;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: #fff;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li:first-child > a {
    border-top: 0;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li > a {
    font-size: 12px;
    line-height: 22px;
    color: #444;
    display: block;
    padding: 9px 20px;
    border-top: 1px solid #ddd;
    border-radius: 0;
    margin: 0;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li > a {
    text-align: right;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li > a:after {
    width: 0;
    height: 0;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li.active > a,
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li:hover > a {
    background-color: #ed1c24;
    color: #fff !important;
    border-top: 1px solid #ed1c24;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li.active > a:before,
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li:hover > a:before {
    opacity: 0 !important;
  }
  .widget_sp_image {
    text-align: center;
  }
  .widget_sp_image img {
    display: inline-block;
    width: auto;
  }
  .wrapper_404 .content_404 .erro-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .wrapper_404 .content_404 .erro-image img {
    display: inline-block;
  }
  .wrapper_404 .content_404 .block-top {
    text-align: center;
  }
  .rtl .wrapper_404 .content_404 .block-top {
    text-align: center;
  }
  .wrapper_404 .content_404 .block-middle {
    text-align: center;
  }
  .rtl .wrapper_404 .content_404 .block-middle {
    text-align: center;
  }
  .wrapper_404 .content_404 .block-middle .top-form {
    float: none;
    display: inline-block;
  }
  .wrapper_404 .content_404 .block-bottom {
    text-align: center;
  }
  .rtl .wrapper_404 .content_404 .block-bottom {
    text-align: center;
  }
  .rtl .wrapper_404 .content_404 .block-bottom .btn-404 {
    float: none;
  }
  .contact-us .wpcf7 input[type="submit"] {
    margin: 0 0 40px;
  }
  .wrapper_404 .content_404 .block-middle .shop4u_search_404 .top-search .topsearch-entry .form-search {
    width: 100%;
  }
  .product_detail .content_product_detail .social-share {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .resp-tab .tab-pane .responsive-slider .slider .item .item-wrap .item-detail .item-content {
    padding: 10px 0 20px;
  }
  .single-product >.tabs .tabbable .nav.nav-tabs li a {
    padding: 0 20px;
  }
  .rtl .top-form .wrapp-minicart {
    left: 0;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td .quantity {
    width: 100px;
  }
  .shop4u_top .top-form.top-search .cat-wrapper:before {
    right: 10px;
  }
  .rtl .shop4u_top .top-form.top-search .cat-wrapper:before {
    left: 10px;
    right: auto;
  }
  #comments .commentlist .children {
    margin-left: 10px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 10px;
  }
  #subscribe_popup {
    min-width: 680px;
    width: auto;
  }
}
@media (max-width: 767px) {
  body .container {
    padding: 0 15px;
  }
  .products-thumb a.fancybox {
    display: none !important;
  }
  .header-style1 .sticky-menu,
  .header-style2 .sticky-menu,
  .header-style3 .sticky-menu {
    position: relative;
    top: auto;
    left: auto;
  }
  .sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail .item-info .countdown-left {
    width: 100%;
    float: none;
  }
  .sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail .item-info .countdown-left .countdown-section {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    border: none;
  }
  .sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail .item-info .products-thumb {
    width: 100%;
    float: none;
  }
  .footer .footer-top .newsletter-footer .form-newsletter {
    width: 100%;
  }
  .footer .footer-top .newsletter-footer .form-newsletter input[type="email"] {
    min-width: auto;
    width: 70%;
  }
  .footer .footer-top .newsletter-footer .form-newsletter input[type="submit"] {
    width: 30%;
    padding: 0;
  }
  #subscribe_popup {
    min-width: 600px;
    padding: 15px 0;
    width: auto;
  }
  #subscribe_popup .subscribe-popup-container .image-newsletter {
    display: none;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-content {
    width: 100%;
    padding: 0;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    text-align: center;
    margin: 0;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox label {
    display: inline-block;
  }
  #cpanel-form a.cpanel-control,
  .banner-single,
  .header-top .top-left,
  .brand-ship {
    display: none;
  }
  .single-portfolio .portfolio-top .portfolio-content .single-thumbnail {
    width: 100%;
    float: none;
    margin: 0 0 30px;
  }
  #comments .commentlist .children {
    margin-left: 10px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 10px;
    margin-left: 0;
  }
  #comments .comment .author {
    float: none !important;
    margin-bottom: 10px;
  }
  #comments .comment .media-body {
    padding: 0 !important;
  }
  #comments .comment .media-body .media .media-heading .time {
    padding: 0 10px;
  }
  .has-left-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-sidebar .category-contents,
  .has-left-sidebar .single.main {
    float: none;
  }
  .has-right-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-sidebar .category-contents,
  .has-right-sidebar .single.main {
    float: none;
  }
  .has-left-product-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-product-sidebar #contents-detail,
  .has-left-product-sidebar #contents {
    float: none;
  }
  .has-right-product-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-product-sidebar #contents-detail,
  .has-right-product-sidebar #contents {
    float: none;
  }
  .vertical_megamenu-header .wrapper_vertical_menu {
    min-width: auto;
  }
  .footer .footer-newsletter5 .form-newsletter input[type="submit"] {
    padding: 0 18px;
  }
  .footer .footer-bottom3 {
    padding: 20px 0;
  }
  .rtl .footer .footer-block1 .block-infos .info .inner {
    border-right: 0;
  }
  .rtl.has-left-sidebar #left {
    float: none;
    clear: both;
  }
  .rtl.has-left-sidebar .category-contents,
  .rtl.has-left-sidebar .single.main {
    float: none;
  }
  .rtl.has-right-sidebar #right {
    float: none;
    clear: both;
  }
  .rtl.has-right-sidebar .category-contents,
  .rtl.has-right-sidebar .single.main {
    float: none;
  }
  .rtl.has-left-product-sidebar #left {
    float: none;
    clear: both;
  }
  .rtl.has-left-product-sidebar #contents-detail,
  .rtl.has-left-product-sidebar #contents {
    float: none;
  }
  .rtl.has-right-product-sidebar #right {
    float: none;
    clear: both;
  }
  .rtl.has-right-product-sidebar #contents-detail,
  .rtl.has-right-product-sidebar #contents {
    float: none;
  }
}
@media (max-width: 640px) {
  .header-style1 .primary-menu .resmenu-container .navbar-toggle {
    margin: 10px 0;
    border: 1px solid #ff5c00;
  }
  .header-style1 .header-bottom .shop4u_top .top-form.top-search .cat-wrapper {
    display: none;
  }
  .header-style1 .header-bottom .shop4u_top .top-form.top-search input {
    padding-left: 20px;
  }
  .header-style1 .header-mid .search-cate {
    float: none;
    clear: both;
  }
  .header-mid .top-header {
    float: none;
  }
  .header-mid .contact-us-header {
    display: none;
  }
  .shop4u_top {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .categories-image {
    display: none;
  }
  .sw_tab_countdown2 .block-title {
    display: none;
  }
  .sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail .item-info {
    width: 100%;
    margin: 0;
  }
  .rtl .sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail .item-info {
    margin: 0;
  }
  .sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail .item-content {
    width: 100%;
    padding-top: 20px;
  }
  .sw-category-slider2 .description {
    padding: 0 10%;
  }
  .comming-soon .ClassyCountdown-wrapper > div {
    margin: 10px 5px;
  }
  .wp-comingsoon .title-comingsoon .des-comingsoon {
    width: 100%;
  }
  .slideshow-home1 .wpb_revslider_element {
    width: auto;
    min-width: 0;
  }
  .slideshow-home1 .wpb_single_image {
    display: none;
  }
  #respond .wp-comment .form-horizontal .cmm-box-top .control-group {
    width: 100%;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .tab-content .tab-pane .woo-tab-container-slider {
    border-right: 0;
    border-left: 1px solid #ebebeb;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content.style1 .tab-content .tab-pane .woo-tab-container-slider {
    border-right: 0;
    border-left: 1px solid #ebebeb;
  }
}
@media (max-width: 480px) {
  .sw_woo_search,
  .sw_woo_search.pull-left {
    float: none;
  }
  .shop4u_top .top-form.top-search .topsearch-entry {
    padding: 0;
  }
  .header-bottom .contact-header {
    display: none;
  }
  .sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs > li {
    width: 100%;
  }
  #subscribe_popup {
    min-width: 360px;
  }
  .header-style1 .header-mid {
    padding: 17px 0 5px 0;
  }
  .header-style1 .header-mid .main-menu {
    float: right;
  }
  .rtl .header-style1 .header-mid .main-menu {
    float: left;
  }
  .header-style1 .header-mid .mid-header {
    float: none;
  }
  .header-style1 .header-mid .mid-header .sw_top {
    float: none;
  }
  .header-style1 .header-mid .mid-header .sw_top .shop4u-minicart {
    float: right;
  }
  .rtl .header-style1 .header-mid .mid-header .sw_top .shop4u-minicart {
    float: left;
  }
  .header-style1 .header-mid .mid-header .sw_top .top-login {
    float: left;
    margin: 0 15px;
  }
  .rtl .header-style1 .header-mid .mid-header .sw_top .top-login {
    float: right;
  }
  .header-style1 .header-bottom .search-cate {
    margin: 0;
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    float: none;
  }
  .header-style1 .header-bottom .search-cate .sw_woo_search {
    float: none;
  }
  .header-style1 .header-bottom .search-cate .shop4u_top {
    display: block;
  }
  .header-style1 .header-bottom .search-cate .top-form.top-search {
    display: block;
    min-width: initial;
    width: 100%;
  }
  .header-style1 .header-bottom .search-cate .top-form.top-search .topsearch-entry {
    padding: 0;
  }
  .header-style1 .header-bottom .search-cate .top-form.top-search .topsearch-entry input {
    border: 1px solid #ed1c24;
    border-radius: 20px;
  }
  .rtl .header-style1 .header-bottom .search-cate .top-form.top-search .topsearch-entry input {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 20px 0 0;
  }
  .header-style1 .header-bottom .header-right {
    width: 50%;
    position: relative;
    right: auto;
    top: auto;
  }
  #respond .wp-comment .title {
    font-size: 14px;
  }
  .listing-title h1 {
    font-size: 18px;
  }
  .shop4u-portfolio .portfolio-tab ul li {
    float: none;
    margin: 0 0 10px;
    width: 100%;
  }
  .shop4u-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item-title {
    display: none;
  }
  .shop4u-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item.item-more,
  .shop4u-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item.item-popup {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
  .wp-comingsoon .title-comingsoon {
    margin-top: 220px;
  }
  .contact-right .wpcf7 .cf-name,
  .contact-right .wpcf7 .cf-mail,
  .contact-right .wpcf7 .cf-sub {
    width: 100%;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 479px) {
  .header-top .top-login ul li a > span,
  .header-top .widget_nav_menu h3 > span {
    display: none;
  }
  .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    margin-left: 60px;
  }
  .rtl .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    margin-right: 60px;
    margin-left: 0;
  }
  .header-style1 .header-bottom .header-right {
    float: right;
    width: 70%;
  }
  .rtl .header-style1 .header-bottom .header-right {
    float: left;
  }
  .header-style1 .vertical_megamenu-header {
    float: left;
  }
  .rtl .header-style1 .vertical_megamenu-header {
    float: right;
  }
  .header-style1 .vertical_megamenu-header .wrapper_vertical_menu {
    min-width: auto;
  }
  .header-style1 .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    margin: 10px 0;
    background-color: #222;
  }
  .rtl .header-style1 .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    margin: 10px 0;
  }
  .footer .footer-copyright.style1 .sidebar-copyright {
    padding: 0 15px;
  }
  .form-newsletter {
    clear: both;
  }
  .sw-best-seller-product-slider .box-title h3,
  .sw-featured-product-slider .box-title h3 {
    font-size: 14px;
  }
  .sw-best-seller-product-slider .carousel-inner .image-slide,
  .sw-featured-product-slider .carousel-inner .image-slide {
    float: none;
    width: 100%;
  }
  .sw-best-seller-product-slider .carousel-inner .item,
  .sw-featured-product-slider .carousel-inner .item {
    float: none;
    width: 100%;
  }
  .featured-cat .wrap-content .item.item4 {
    margin-bottom: 0;
  }
  .featured-cat .wrap-content .item.item4 .item-content {
    top: 20px;
  }
  .sw-instagram-slider .slider .item {
    text-align: center;
  }
  .sw-instagram-slider .slider .item img {
    display: inline-block;
  }
  .sw-instagram-slider .res-button {
    z-index: 3;
  }
  .item .item-wrap .item-detail .item-img img {
    margin: 0 auto;
  }
  .single-product >.tabs .tabbable .nav.nav-tabs li {
    float: none !important;
  }
  .single-product >.tabs .tabbable .nav.nav-tabs li > a {
    display: block;
  }
  .single-product >.tabs .tabbable .nav.nav-tabs li + li > a {
    border-top: 1px solid #fff;
  }
}
@media (max-width: 375px) {
  .products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb {
    float: none;
    margin: 0 0 20px;
    width: 100%;
  }
  .rtl .products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb {
    float: none;
    margin: 0 0 20px;
  }
  #subscribe_popup {
    min-width: 304px;
    padding: 48px 10px 25px 10px;
  }
  #subscribe_popup .subscribe-social > .subscribe-social-inner .shop4u-socials ul > li > a {
    margin: 0 3px;
  }
}
@media (max-width: 360px) {
  .product_detail .content_product_detail .social-share a {
    margin: 0 3px;
  }
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
  .product_detail .content_product_detail a.compare {
    margin: 0 3px;
  }
  .top-form .wrapp-minicart {
    width: 285px;
  }
  .top-form .wrapp-minicart .minicart-padding ul.minicart-content li .product-image {
    width: 90px;
  }
  .top-form .wrapp-minicart .minicart-padding ul.minicart-content li .product-price .price span.amount {
    padding: 5px 0;
  }
  #subscribe_popup {
    min-width: 250px;
    padding: 48px 10px 25px 10px;
  }
  #subscribe_popup .subscribe-popup-container {
    padding: 48px 0px 25px 0px;
  }
  #subscribe_popup .subscribe-popup-container h2 {
    font-size: 14px;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-social > .subscribe-social-inner > a {
    margin: 0 2px;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form input[type="email"] {
    width: 205px;
    padding: 0 10px;
  }
  #subscribe_popup .subscribe-social > .subscribe-social-inner .shop4u-socials ul > li > a {
    margin: 0 5px 10px 5px;
  }
  .rtl .header-style1 .header-mid .main-menu,
  .rtl .header-style2 .header-mid .main-menu {
    float: left;
  }
  .header-style1 .header-mid .primary-menu .resmenu-container .navbar-toggle,
  .header-style2 .header-mid .primary-menu .resmenu-container .navbar-toggle {
    padding: 15px 0;
  }
  .header-style1 .header-mid .primary-menu .resmenu-container .menu-responsive-wrapper,
  .header-style2 .header-mid .primary-menu .resmenu-container .menu-responsive-wrapper {
    right: 0;
    left: auto;
  }
  .rtl .header-style1 .header-mid .primary-menu .resmenu-container .menu-responsive-wrapper,
  .rtl .header-style2 .header-mid .primary-menu .resmenu-container .menu-responsive-wrapper {
    left: 0;
    right: auto;
  }
  .header-style1 .header-mid .main-menu {
    float: right;
  }
  .header-style1 .header-mid .primary-menu .resmenu-container .navbar-toggle {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff5c00;
  }
  .top-form .wrapp-minicart .cart-checkout .cart-links .cart-link a,
  .top-form .wrapp-minicart .cart-checkout .cart-links .checkout-link a {
    padding: 0 15px;
  }
  .footer .footer-menu .footer-menu-2 {
    padding: 0;
  }
  .footer .footer-menu .footer-menu-2 .vc_wp_custommenu .widget_nav_menu ul.menu {
    line-height: 24px;
    display: block;
    overflow: hidden;
    text-align: center;
  }
  .footer .footer-menu .footer-menu-2 .vc_wp_custommenu .widget_nav_menu ul.menu > li {
    float: none;
    display: inline-block;
  }
  .rtl .footer .footer-menu .footer-menu-2 .vc_wp_custommenu .widget_nav_menu ul.menu > li {
    float: none;
  }
  .footer .footer-menu .footer-menu-2 .wpb_content_element {
    clear: both;
  }
  .rtl.woocommerce div.product form.cart div.quantity {
    width: 105px;
  }
  .product_detail .content_product_detail .social-share .title-share {
    padding-right: 5px;
  }
  .rtl .product_detail .content_product_detail .social-share .title-share {
    padding: 0 0 0 5px;
  }
  .single-product > .tabs .tabbable .nav.nav-tabs li {
    width: 100%;
  }
  .single-product > .tabs .tabbable .nav.nav-tabs li a {
    width: 100%;
    text-align: center;
  }
  .woocommerce .entry-content form.login .form-row-first,
  .woocommerce .entry-content form.login .form-row-last,
  .woocommerce-page .entry-content form.login .form-row-first,
  .woocommerce-page .entry-content form.login .form-row-last {
    float: none;
    width: 100%;
  }
  .woocommerce .entry-content form.login .form-row-last,
  .woocommerce-page .entry-content form.login .form-row-last {
    margin: 0;
  }
  .woocommerce .entry-content form.login .form-row input.button,
  .woocommerce-page .entry-content form.login .form-row input.button {
    margin-top: 20px;
  }
  .contact_us .block-contact .item .item-wrap {
    padding: 17px 15px;
  }
  .contact_us .block-contact .item.address .item-wrap .info {
    padding: 0;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs {
    border-bottom: 0;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs li {
    width: 100%;
    text-align: center;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs li:first-child > a:after {
    width: 0;
    height: 0;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs li > a {
    padding: 10px 0;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs li > a:before {
    width: 0;
    height: 0;
  }
  .product_detail .content_product_detail .cart .quantity {
    margin: 0 3px 0 0 !important;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse {
    right: 145px;
    top: 0;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse {
    left: 145px;
    right: auto;
  }
  .sw-best-seller-product-slider .carousel-inner .image-slide img,
  .sw-featured-product-slider .carousel-inner .image-slide img {
    width: 100%;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content.style1 .button-collapse {
    left: 110px;
    right: auto;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content.style1 .button-collapse {
    left: auto;
    right: 120px;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone {
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone.image-content {
    margin-bottom: 30px;
  }
  .rtl .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone {
    margin: 0 0 30px;
  }
  .footer .footer-bottom3 .socials-footer ul > li {
    margin: 0px 8px;
  }
  .footer .footer-bottom3 .socials-footer ul > li > a {
    font-size: 24px;
  }
  .footer .footer-menu.style4 {
    padding-top: 30px;
  }
  .footer .footer-newsletter5 .form-newsletter input[type="email"] {
    padding: 0 8px;
    min-width: 185px;
    width: 185px;
  }
  .footer .footer-newsletter5 .form-newsletter input[type="submit"] {
    padding: 0 7px;
  }
  .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    margin-left: 60px;
  }
  .rtl .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    margin-right: 60px;
    margin-left: 0;
  }
  .header-top .top-login ul li a,
  .header-top .widget_nav_menu h3 {
    border: 0;
  }
  .header-top .top-login ul li a > span,
  .header-top .widget_nav_menu h3 > span {
    display: none;
  }
  #lang_sel > ul.nav > li > a,
  .currency_w > li > a {
    border: 0;
  }
  .woocommerce div.product form.cart .group_table td {
    display: block;
    height: 50px;
  }
  .woocommerce div.product form.cart .group_table td.label {
    display: block;
    text-align: left;
    padding: 0;
    line-height: 45px;
  }
  .woocommerce div.product form.cart .group_table td .woocommerce-grouped-product-list-item__price {
    display: block;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td .quantity {
    width: 100px;
  }
  .single-portfolio .portfolio-top h1 {
    font-size: 18px;
  }
  .footer .footer-contact .newsletter-footer .form-newsletter input[type="submit"] {
    padding: 0 5px;
  }
  .footer .footer-contact .socials-footer h3 {
    font-size: 14px;
    margin: 0 10px 0 0;
  }
  .rtl .footer .footer-contact .socials-footer h3 {
    margin: 0 0 0 10px;
  }
  .footer .footer-contact .socials-footer ul li {
    margin: 0 1px;
  }
  .wrapper_404 .content_404 .block-top h2 {
    font-size: 20px;
  }
  .wrapper_404 .content_404 .block-bottom .btn-404 {
    padding: 0 15px;
  }
  .rtl .single.main .post .entry-wrap .entry-content .social-share .title-share,
  .rtl .single.main .team .entry-wrap .entry-content .social-share .title-share,
  .rtl .single.main .attachment .entry-wrap .entry-content .social-share .title-share {
    margin-left: 15px;
  }
  .rtl.woocommerce div.product form.cart .group_table td.label {
    text-align: right;
  }
  .rtl.contact-us .block-contact .item .item-wrap {
    padding: 17px 15px;
  }
  .rtl .product_detail .content_product_detail .cart .quantity {
    margin: 0 0 0 5px !important;
  }
}
@media (max-width: 767px) {
  .responsive-slider .slider {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
  }
  .responsive-slider .slider .item,
  .responsive-slider .slider .product {
    display: inline-block;
    white-space: normal;
    float: none;
  }
  .responsive-slider.testimonial-post-slider .responsive-thumbnail {
    display: none;
  }
  .responsive-slider.sw-category-slider-layout8 .slider {
    background: #fff;
    margin: 0 -15px;
  }
  .responsive-slider.sw-category-slider-layout8 .slider .item {
    min-width: 120px;
    padding: 0 15px;
  }
  .tab-countdown-slide  ul > li {
    display: inline-block;
    float: none;
  }
  .tab-countdown-slide  ul > li a >img {
    max-width: 100%;
  }
}
@media (min-width: 1368px) {
  .wp-comingsoon {
    min-height: 980px;
  }
}
@media (min-width: 1200px) {
  .clear_lg {
    clear: both;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .clear_md {
    clear: both;
  }
  .rtl [class*="col-md-"],
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .wpb_revslider_element .rev_slider_wrapper ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn {
    display: none !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (min-width: 768px) {
  .woocommerce table.shop_table_responsive tr,
  .woocommerce-page table.shop_table_responsive tr {
    display: table-row;
  }
  .woocommerce table.shop_table_responsive tr td,
  .woocommerce-page table.shop_table_responsive tr td {
    display: table-cell;
  }
}
@media (max-width: 767px) {
  .clear_xs {
    clear: both;
  }
  .sidebar-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sidebar-row aside#left {
    order: 1;
    width: 100%;
  }
  .sidebar-row aside#right {
    order: 1;
    width: 100%;
  }
  .sidebar-row > div {
    width: 100%;
  }
  .woocommerce-account #contents .entry-content .woocommerce-MyAccount-content,
  .woocommerce-account #contents .entry-content nav.woocommerce-MyAccount-navigation {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (max-width: 479px) {
  [class*="col-xs-"] {
    float: none;
    width: auto;
  }
  .products-wrapper .products-loop >li.product-category {
    float: left;
    width: 50%;
  }
  .products-wrapper .products-loop >li.product-category:nth-child(2n+1) {
    clear: both;
  }
  .rtl [class*="col-xs-"] {
    float: none;
  }
  .rtl .products-wrapper .products-loop >li.product-category {
    float: right;
  }
}
