@media (max-width: 640px) {
	.header-style1{
		.primary-menu .resmenu-container{
			.navbar-toggle{
				margin:10px 0;
				border:1px solid #ff5c00;
			}
		}
		.header-bottom{
			.shop4u_top .top-form.top-search{
				.cat-wrapper{
					display:none;
				}
				input{
					padding-left:20px;
				}
			}
		}
		.header-mid{
			.search-cate{
				float: none; clear: both;
			}
		}
	}
	.header-mid{
		.top-header{
			float:none;
		}
		.contact-us-header{
			display:none;
		}
	}
	.shop4u_top{
		width: 100%; float: none; margin-bottom: 15px;
	}
	.sw-woo-tab-default .resp-tab .category-slider-content .categories-image{
		display:none;
	}
	.sw_tab_countdown2 {
		.block-title{
			display: none;
		}
		.tab-countdown-slide .tab-content .item-wrap .item-detail{
			.item-info{
				width: 100%; margin: 0;
				.rtl &{
					margin: 0;
				}
			}
			.item-content{
				width: 100%; padding-top: 20px;
			}
		}
	}
	.sw-category-slider2 .description{
		padding: 0 10%;
	}
	.comming-soon .ClassyCountdown-wrapper > div{
		margin:10px 5px;
	}
	.wp-comingsoon .title-comingsoon .des-comingsoon{
		width:100%;
	}
	.slideshow-home1{
		.wpb_revslider_element{
			width:auto;
			min-width:0;
		}
		.wpb_single_image{
			display:none;
		}
	}
	#respond .wp-comment .form-horizontal .cmm-box-top .control-group{
		width:100%;
	}
	.sw-woo-tab-default .resp-tab .category-slider-content .tab-content .tab-pane .woo-tab-container-slider{
		border-right:0;
		border-left:1px solid #ebebeb;
	}
	.rtl .sw-woo-tab-default .resp-tab .category-slider-content.style1 .tab-content .tab-pane .woo-tab-container-slider{
		border-right:0;
		border-left:1px solid #ebebeb;
	}


}
