@media (max-width: 375px) {
	.products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb{
		float:none;
		margin:0 0 20px;
		width:100%;
		.rtl &{
			float:none;
			margin:0 0 20px;
		}
	}
	#subscribe_popup{
		min-width:304px;
		padding:48px 10px 25px 10px;
		.subscribe-social > .subscribe-social-inner .shop4u-socials ul > li > a{
			margin:0 3px;
		}
	}
}
@media (max-width: 360px) {	
	.product_detail .content_product_detail .social-share a{
		margin:0 3px;
	}
	.product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a, .product_detail .content_product_detail a.compare{
		margin:0 3px;
	}
	.top-form .wrapp-minicart{
		width:285px;
		.minicart-padding ul.minicart-content li{
			.product-image{
				width:90px;
			}
			.product-price .price span.amount{
				padding:5px 0;
			}			
		}
	}	
	#subscribe_popup{
		min-width:250px;
		padding:48px 10px 25px 10px;
		.subscribe-popup-container{
			padding:48px 0px 25px 0px;
			h2{
				font-size:14px;
			}
			.subscribe-social > .subscribe-social-inner > a{
				margin:0 2px;
			}
			.subscribe-form input[type="email"]{
				width:205px;
				padding:0 10px;
			}
		}
		.subscribe-social > .subscribe-social-inner .shop4u-socials ul > li > a{
			margin:0 5px 10px 5px;
		}
	}
	.header-style1 .header-mid , .header-style2 .header-mid{
		.rtl &{
			.main-menu{
				float:left;
			}
		}
		.primary-menu .resmenu-container{
			.navbar-toggle{
				padding:15px 0;
			}
			.menu-responsive-wrapper{
				right:0;
				left:auto;
				.rtl &{
					left:0;
					right:auto;
				}
			}
		}
	}
	.header-style1 .header-mid{
		.main-menu{
			float:right;
		}
		.primary-menu .resmenu-container{
			.navbar-toggle{
				padding:10px;
				margin:10px 0;
				border:1px solid #ff5c00;
			}
		}
	}
	.top-form .wrapp-minicart .cart-checkout .cart-links .cart-link a, .top-form .wrapp-minicart .cart-checkout .cart-links .checkout-link a{
		padding:0 15px;
	}
	.footer .footer-menu .footer-menu-2{
		padding:0;
		.vc_wp_custommenu .widget_nav_menu ul.menu{
			line-height:24px;
			display:block;
			overflow:hidden;
			text-align:center;
			> li{
				float:none;
				display:inline-block;
				.rtl &{
					float:none;
				}
			}
		}
		.wpb_content_element{
			clear:both;
			
		}
	}
	.rtl.woocommerce div.product form.cart div.quantity{
		width:105px;
	}
	.product_detail .content_product_detail .social-share .title-share{
		padding-right:5px;
		.rtl &{
			padding:0 0 0 5px;
		}
	}
	.single-product > .tabs .tabbable .nav.nav-tabs li{
		width:100%;
		a{
			width:100%;
			text-align:center;	
		}
	}
	.woocommerce .entry-content form.login .form-row-first, .woocommerce .entry-content form.login .form-row-last, .woocommerce-page .entry-content form.login .form-row-first, .woocommerce-page .entry-content form.login .form-row-last{
		float:none;
		width:100%;
	}
	.woocommerce .entry-content form.login .form-row-last, .woocommerce-page .entry-content form.login .form-row-last{
		margin:0;
	}
	.woocommerce .entry-content form.login .form-row input.button, .woocommerce-page .entry-content form.login .form-row input.button{
		margin-top:20px;
	}
	.contact_us .block-contact .item{
		.item-wrap{
			padding:17px 15px;
		}
		&.address .item-wrap{
			.info{
				padding:0;
			}
		}
	}
	.sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs{
		border-bottom:0;
		li{
			width:100%;
			text-align:center;
			&:first-child > a{
				&:after{
					width:0;
					height:0;
				}
			}
			> a{
				padding:10px 0;
				&:before{
					width:0;
					height:0;
				}
			}
		}
	}
	.product_detail .content_product_detail .cart .quantity{
		margin:0 3px 0 0 !important;
	}
	.sw-woo-tab-default{
		.resp-tab .category-slider-content .button-collapse{
			right:145px;
			top:0;
			.rtl &{
				left:145px;
				right:auto;
			}
		}
	}
	.sw-best-seller-product-slider .carousel-inner .image-slide img, .sw-featured-product-slider .carousel-inner .image-slide img{
		width:100%;
	}
	.sw-woo-tab-default .resp-tab .category-slider-content.style1 .button-collapse{
		left:110px;
		right:auto;
		.rtl &{
			left:auto;
			right:120px;
		}
	}
	.single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone{
		margin:0 0 30px;
		padding:0;
		width:100%;
		&.image-content{
			margin-bottom:30px;
		}
		.rtl &{
			margin:0 0 30px;
		}
	}
	.footer .footer-bottom3 .socials-footer ul > li{
		margin:0px 8px;
		> a{
			font-size:24px;
		}
	}
	.footer .footer-menu.style4{
		padding-top:30px;
	}
	.footer .footer-newsletter5 .form-newsletter{
		input[type="email"]{
			padding:0 8px;
			min-width:185px;
			width:185px;
		}
		input[type="submit"]{
			padding:0 7px;
		}
	}
	.vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle{
		margin-left:60px;
		.rtl &{
			margin-right:60px;
			margin-left:0;
		}
	}
	.header-top .top-login ul li a, .header-top .widget_nav_menu h3{
		border:0;
		> span{
			display:none;
		}
	}
	#lang_sel > ul.nav > li > a, .currency_w > li > a{
		border:0;
	}
	.woocommerce div.product form.cart .group_table td{
		display:block;
		height:50px;
		&.label{
			display:block;
			text-align:left;
			padding:0;
			line-height:45px;
		}
		.woocommerce-grouped-product-list-item__price{
			display:block;
		}
	}
	.product_detail .content_product_detail .cart .group_table tbody tr td .quantity{
		width:100px;
	}
	.single-portfolio .portfolio-top h1{
		font-size:18px;
	}
	.footer .footer-contact .newsletter-footer .form-newsletter input[type="submit"]{
		padding:0 5px;
	} 
	.footer .footer-contact .socials-footer{
		h3{
			font-size:14px;
			margin:0 10px 0 0;
			.rtl &{
				margin:0 0 0 10px;
			}
		}
		ul li{
			margin:0 1px;
		}
	}
	.wrapper_404 .content_404 .block-top h2{
		font-size:20px;
	}
	.wrapper_404 .content_404 .block-bottom .btn-404{
		padding:0 15px;
	}
	.rtl .single.main .post .entry-wrap .entry-content .social-share .title-share,
	.rtl .single.main .team .entry-wrap .entry-content .social-share .title-share,
	.rtl .single.main .attachment .entry-wrap .entry-content .social-share .title-share{
		margin-left:15px;
	}
	.rtl {
		&.woocommerce div.product form.cart .group_table td.label{
			text-align:right;
		}
		&.contact-us .block-contact .item .item-wrap{
			padding:17px 15px;
		}
		.product_detail .content_product_detail .cart .quantity{
			margin:0 0 0 5px !important;
		}
	}
}