@media (max-width: 991px) {
	.resmenu-container .menu-responsive-wrapper ul.shop4u_resmenu{
		max-height:228px;
		overflow-y:auto;
	}
	.header-style1{
		.header-mid{
			padding: 17px 0;
			.top-header{
				width: 100%; margin-bottom: 15px; float: none;
			}
			.search-cate{
				float: left;
				.rtl &{
					float: right;
				}
			}
		}
	}
	.header-bottom .contact-header{
		padding-top: 11px; background-position: left top 12px;
	}
	.shop4u-logo{
		text-align:center;
		a{
			display:inline-block;
		}
	}
	.newsletter-footer-top{
		text-align: center;
	}
	.footer {
		.footer-top {
			.newsletter-footer {
				float: none; text-align: center;
				.rtl &{
					float: none;
				}
				.form-newsletter{
					float: none; display: inline-block; vertical-align: top;
					.rtl &{
						float: none;
					}
				}
			}
		}
	}
	#subscribe_popup .subscribe-popup-container{
		text-align:center;
		.subscribe-form{
			float:none;
			display:inline-block;
			.rtl &{
				float:none;
			}
		}
		.subscribe-checkbox{
			margin:0;
			.rtl &{
				margin:0;
			}
			label{
				display:inline-block;
			}
		}
	}
	.sw-best-seller-product-slider .carousel-inner .image-slide, .sw-featured-product-slider .carousel-inner .image-slide{
		display:none;
		float:none;
		width:auto;
	}
	.sw-best-seller-product-slider .carousel-inner .item, .sw-featured-product-slider .carousel-inner .item{
		float:none;
		width:auto;
	}
	.rtl .sw-best-seller-product-slider .carousel-inner .item, .rtl .sw-featured-product-slider .carousel-inner .item{
		float:none;
	}
	.sw-best-seller-product-slider .carousel-inner .item .item-detail:last-child, .sw-featured-product-slider .carousel-inner .item .item-detail:last-child{
		margin-bottom:30px;
	}
	.vertical_megamenu-header{
		.mega-left-title{
			display:none;
		}
		.wrapper_vertical_menu{
			opacity:1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-o-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			visibility:visible;
			.resmenu-container .navbar-toggle{
				display:block;
				position:relative;
				z-index:4; margin-top: 11px;
				.header-style1 &{
					background-color:#222;
				}
				.rtl &{
					float:right;
				}
			}
		}
		.vertical-megamenu{
			display:none;
		}
	}
	.header-style1 .header-bottom .resmenu-container .navbar-toggle .icon-bar{
		background-color:#fff;
		&:hover{
			background-color:#fff;
		}
	}
	.header-style1 .header-mid{
		text-align:center;
		.main-menu{
			float:none;
			display:inline-block;
		}
	}
	.products-wrapper .products-nav .catalog-ordering{
		float:right;
		.rtl &{
			float:left;
		}
	}
	.quickview-container .product_detail .content_product_detail .social-share .title-share{
		padding-right:10px;
		.rtl &{
			padding-left:10px;
			padding-right:0;
		}
	}
	.sw-woo-tab-default .resp-tab .category-slider-content{
		.tab-pane .responsive-slider .slider .item .item-wrap{
			padding:4px 0 5px;
		}
		&.style1{
			.button-collapse{
				left:90px;
				right:auto;
				.rtl &{
					right:90px;
					left:auto;
				}
			}
			.nav-tabs-select{
				ul{
					left:0;
					right:auto;
					.rtl &{
						right:0;
						left:auto;
					}
				}
			}
		}
		.button-collapse{
			position:absolute;
			top:5px;
			z-index:99;
			display:block;
			background: #cccccc none repeat scroll 0 0;
			border-radius: 3px;
			border:0;
			margin:0;
			padding:0;
			cursor: pointer;
			height: 30px;
			line-height: 30px;
			right: 90px;
			text-align: center;
			width: 30px;
			&:hover{
				background:@color;
			}
			.rtl &{
				left:90px;
				right:auto;
			}
			&:before{
				content:'\f0c9';
				font-family:FontAwesome;
				font-size:16px;
				color:#fff;
				height:30px;
				width:30px;
				line-height:30px;
				display:inline-block;
				text-align:center;
			}
		}
		.nav-tabs-select{
			display:block;
			height:40px;
			width:100%;
			background-color:#f2f2f2;
			ul{
				padding:0;
				border:0;
				height:0;
				margin:0;
				overflow:hidden;
				text-align:left;
				position:absolute;
				top:40px;
				z-index:99;
				right:0px;
				box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
				background:#fff;
				width:200px;
				.rtl &{
					left:0;
					right:auto;
				}
				> li{
					list-style:none;
					line-height:40px;
					float:none !important;
					width:100%;
					border-radius:0;
					border:0;
					background-color:#fff;
					&:first-child > a{
						border-top:0;
					}
					> a{
						font-size:12px;
						line-height:22px;
						color:#444;
						display:block;
						padding:9px 20px;
						border-top:1px solid #ddd;
						border-radius:0;
						margin:0;
						.rtl &{
							text-align:right;
						}
						&:after{
							width:0;
							height:0;
						}
					}
					&.active > a,&:hover > a{
						background-color:@color;
						color:#fff !important;
						border-top:1px solid @color;
						&:before{
							opacity:0 !important;
						}
					}
				}
			}
		}
	}
	.widget_sp_image{
		text-align:center;
		img{
			display:inline-block;
			width:auto;
		}
	}
	.wrapper_404 .content_404{
		.erro-image{
			text-align:center;
			margin-bottom:30px;
			img{
				display:inline-block;
			}
		}
		.block-top{
			text-align:center;
			.rtl &{
				text-align:center;
			}
		}
		.block-middle{
			text-align:center;
			.rtl &{
				text-align:center;
			}
			.top-form{
				float:none;
				display:inline-block;
			}
		}
		.block-bottom{
			text-align:center;
			.rtl &{
				.btn-404{
					float:none;
				}
				text-align:center;
			}
		}
	}
	.contact-us .wpcf7 input[type="submit"]{
		margin:0 0 40px;
	}
	.wrapper_404 .content_404 .block-middle .shop4u_search_404 .top-search .topsearch-entry .form-search{
		width:100%;
	}
	.product_detail .content_product_detail .social-share{
		margin-bottom:30px;
	}


}