@media (min-width: 768px) {
	.rtl {

	}
}

@media (max-width: 767px) {
	body .container{
		padding: 0 15px;
	}
	.products-thumb a.fancybox{
		display:none !important;
	}
	.header-style1 .sticky-menu, .header-style2 .sticky-menu, .header-style3 .sticky-menu{
		position:relative;
		top:auto;
		left:auto;
	}
	.sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail{
		.item-info {
			.countdown-left{
				width: 100%; float: none;
				.countdown-section{
					display: inline-block; vertical-align: top; width: 25%; border: none;
				}
			}
			.products-thumb{
				width: 100%; float: none;
			}
		}
	}
	.footer .footer-top .newsletter-footer .form-newsletter {
		width: 100%;
		input[type="email"]{
			min-width: auto; width: 70%;
		}
		input[type="submit"]{
			width: 30%; padding: 0;
		}
	}
	#subscribe_popup{
		min-width:600px;
		padding:15px 0;;
		width:auto;
		.subscribe-popup-container{
			.image-newsletter{
				display:none;
			}
			.subscribe-content{
				width:100%;
				padding:0;
			}
		}
	}
	.rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox{
		text-align:center;
		margin:0;
		label{
			display:inline-block;
		}
	}
	#cpanel-form a.cpanel-control, .banner-single, .header-top .top-left, .brand-ship{
		display:none;
	}
	.single-portfolio .portfolio-top .portfolio-content .single-thumbnail{
		width:100%;
		float:none;
		margin:0 0 30px;
	}
	#comments{
		.commentlist .children{
			margin-left:10px;
			.rtl &{
				margin-right:10px;
				margin-left:0;
			}
		}
		.comment{
			.author{
				float: none !important;
				margin-bottom: 10px;
			}
			.media-body{
				padding: 0 !important;
				.media .media-heading .time{
					padding:0 10px;
				}
			}
		}
	}
	.has-left-sidebar{
		#left{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-right-sidebar{
		#right{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-left-product-sidebar{
		#left{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
	.has-right-product-sidebar{
		#right{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
	.vertical_megamenu-header .wrapper_vertical_menu{
		min-width:auto;
	}
	.footer .footer-newsletter5 .form-newsletter input[type="submit"]{
		padding:0 18px;
	}
	.footer .footer-bottom3{
		padding:20px 0;
	}
	.rtl .footer .footer-block1 .block-infos .info .inner{
		border-right:0;
	}
	.rtl {
		&.has-left-sidebar{
			#left{
				float: none;
				clear: both;
			}
			.category-contents, .single.main{
				float: none;
			}
		}
		&.has-right-sidebar{
			#right{
				float: none;
				clear: both;
			}
			.category-contents, .single.main{
				float: none;
			}
		}
		&.has-left-product-sidebar{
			#left{
				float: none;
				clear: both;
			}
			#contents-detail, #contents{
				float: none;
			}
		}
		&.has-right-product-sidebar{
			#right{
				float: none;
				clear: both;
			}
			#contents-detail, #contents{
				float: none;
			}
		}
		
	}
}
