@media (max-width: 1199px) {
	body.boxed-layout .body-wrapper{
		width:100%;
		padding:0;
	}
	.nav-pills.nav-mega .shop4u-mega-menu .dropdown-menu {
		&.column-4, &.column-5, &.column-1 {
			min-width: 970px;
		}
	}
	.wrapper_404 .content_404 .block-middle .shop4u_search_404 .top-search .topsearch-entry .form-search{
		width:545px;
	}
	.single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone{
		width:50%;
		padding:0 10px;
		&.image-content{
			margin:0;
		}
	}
	.single.main .post .entry-wrap .entry-content .entry-summary p .alignnone{
		width:50%;
		margin:0 0 30px !important;
	}
	.mega-left-title strong:after{
		display: none;
	}
	.responsive-post-slider .resp-slider-container .slider .item{
		&:nth-child(2n){
			.item-inner .item-detail{
				display: inline-block; flex-direction: unset; order: unset;
			}
		}
	}
	.sw_tab_countdown2 .tab-countdown-slide .tab-content .item-wrap .item-detail .item-content{
		padding-top: 100px;
	}
	.sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs li{
		margin: 0 8px;
	}
	#subscribe_popup .subscribe-popup-container .subscribe-form input[type="email"]{
		min-width:220px;
	}

}
