@media (max-width: 480px) {
	.sw_woo_search, .sw_woo_search.pull-left{
		float: none;
	}
	.shop4u_top .top-form.top-search .topsearch-entry{
		padding: 0;
	}
	.header-bottom .contact-header{
		display: none;
	}
	.sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs > li{
		width:100%;
	}
	#subscribe_popup{
		min-width:360px;
	}
	.header-style1{
		.header-mid{
			padding: 17px 0 5px 0;
			.main-menu{
				float:right;
				.rtl &{
					float:left;
				}
			}
			.mid-header{
				float: none;
				.sw_top {
					float: none;
					.shop4u-minicart{
						float: right;
						.rtl &{
							float: left;
						}
					}
					.top-login{
						float: left; margin: 0 15px;
						.rtl &{
							float: right;
						}
					}
				}
			}
		}
		.header-bottom{
			.search-cate{
				margin:0;
				position:absolute;
				top:-75px;
				left: 0;
				width: 100%;
				float: none;
				.sw_woo_search{float: none}
				.shop4u_top{display: block;}
				.top-form.top-search{
					display:block;
					min-width: initial;
					width: 100%;
					.topsearch-entry{
						padding:0;
						input{
							border:1px solid @color;
							border-radius: 20px;
							.rtl &{
								border-top-right-radius:20px;
								border-bottom-right-radius:20px;
								padding:0 20px 0 0;
							}
						}
					}
				}
			}
			.header-right{
				width:50%;
				position:relative;
				right:auto;
				top:auto;
			}
		}
	}
	#respond .wp-comment .title{
		font-size:14px;
	}
	.listing-title h1{
		font-size:18px;
	}
	.shop4u-portfolio .portfolio-tab ul li{
		float:none;
		margin:0 0 10px;
		width:100%;
	}
	.shop4u-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content{
		.p-item-title{
			display:none;
		}
		.p-item.item-more, .p-item.item-popup{
			width:20px;
			height:20px;
			line-height:20px;
			font-size:12px;
		}
	}
	.wp-comingsoon .title-comingsoon{
		margin-top:220px;
	}
	.contact-right .wpcf7 .cf-name, .contact-right .wpcf7 .cf-mail, .contact-right .wpcf7 .cf-sub{
		width: 100%; margin: 0 0 15px 0;
	}
}
@media (max-width: 479px) {
	.header-top .top-login ul li a > span, .header-top .widget_nav_menu h3 > span{
		display: none;
	}
	.vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle{
		margin-left:60px;
		.rtl &{
			margin-right:60px;
			margin-left:0;
		}
	}
	.header-style1{
		.header-bottom .header-right{
			float:right;
			width:70%;
			.rtl &{
				float:left;
			}
		}
		.vertical_megamenu-header{
			float:left;
			.rtl &{
				float:right;
			}
			.wrapper_vertical_menu{
				min-width:auto;
				.resmenu-container .navbar-toggle{
					margin:10px 0;
					background-color:#222;
					.rtl &{
						margin:10px 0;
					}
				}
			}
		}
	}
	.footer .footer-copyright.style1 .sidebar-copyright{
		padding: 0 15px;
	}
	.form-newsletter{
		clear: both;
	}
	.sw-best-seller-product-slider .box-title h3, .sw-featured-product-slider .box-title h3{
		font-size:14px;
	}
	.sw-best-seller-product-slider .carousel-inner .image-slide, .sw-featured-product-slider .carousel-inner .image-slide{
		float:none;
		width:100%;
	}
	.sw-best-seller-product-slider .carousel-inner .item, .sw-featured-product-slider .carousel-inner .item{
		float:none;
		width:100%;
	}
	.featured-cat .wrap-content .item.item4{
		margin-bottom:0;
		.item-content{
			top:20px;
		}
	}
	.sw-instagram-slider{
		.slider .item{
			text-align:center;
			img{
				display:inline-block;
			}
		}
		.res-button{
			z-index:3;
		}
	}
	.item .item-wrap .item-detail .item-img img{
		margin:0 auto;
	}
	.single-product >.tabs .tabbable .nav.nav-tabs li{
		float: none !important;
		> a{
			display: block;
		}
		+ li > a{			
			border-top: 1px solid #fff;
		}
	}
}