@media (min-width: 992px) and (max-width: 1199px) {
	.header-style1 .header-mid .nav-pills > li > a, .header .header-mid .nav-pills > li > a{
		padding:22px 18px;
	}
	.header-style1{
		.header-mid{
			.top-header{
				padding-top: 7px;
			}
		}
	}
	#subscribe_popup .subscribe-popup-container{
		text-align:center;
		.subscribe-form{
			float:none;
			display:inline-block;
			.rtl &{
				float:none;
			}
		}
		.subscribe-checkbox{
			margin:0;
			.rtl &{
				margin:0;
			}
			label{
				display:inline-block;
			}
		}
	}
	.sw-child-cat .childcat-slider-content{
		border-right:1px solid #e1e1e1;
	}
	.wrapper_vertical_menu{
		min-width:220px;
	}
	.product_detail .content_product_detail .cart .group_table tbody tr td .quantity{
		width:100px;
	}
	.home-style1 .header-style1 .wrapper_vertical_menu .vertical-megamenu > li{
		> a{
			line-height:41px;
		}
		&:last-child > a{
			line-height:39px;
		}
	}
	.header-bottom .contact-header{
		display: none;
	}
	.wrapper_vertical_menu .vertical-megamenu > li.shop4u-mega-menu > .column-4{
		min-width:750px;
		> li{
			width:240px !important;
		}
	}
	.mega-left-title::after{
		right:10px;
		left:auto;
		.header-style1 &{
			right:20px;
			left:auto;
			.rtl &{
				left:25px;
				right:auto;
			}
		}
		.rtl &{
			left:10px;
			right:auto;
		}
	}
	.mega-menu .wrap-content .item .item-content h3{
		font-size:14px;
	}
	.sw-best-seller-product .wrap-content{
		padding:15px 5px 2px;
	}
	.sw-best-seller-product-slider .carousel-inner .item .item-detail, .sw-featured-product-slider .carousel-inner .item .item-detail{
		margin-bottom:15px;
	}
	.sw-best-seller-product-slider .carousel-inner .item, .sw-featured-product-slider .carousel-inner .item{
		padding-top:0;
	}
	.rtl .header-bottom .header-right{
		float:left;
	}
	.products-wrapper .products-nav .catalog-ordering{
		float:right;
		.rtl &{
			float:left;
		}
	}
	.product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a, .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a, .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a, .product_detail .content_product_detail a.compare{
		margin:0 5px 0 0;
		.rt; &{
			margin:0 0 0 5px;
		}
	}
	.product_detail .content_product_detail .social-share .title-share{
		padding-right:10px;
		.rtl &{
			padding-left:10px;
			padding-right:0;
		}
	}
	.product_detail .content_product_detail .cart .group_table{
		td{
			height:70px !important;
		}
		tbody tr td.label{
			white-space	:nowrap;
			padding-left:0;
			.rtl &{
				padding-left:10px;
				padding-right:0;
			}
		}
		.woocommerce-grouped-product-list-item__price{
			font-size:16px;
			del{
				font-size:16px;
			}
			ins{
				font-size:18px;
			}
		}
	}
	



}