@media (min-width: 768px) and (max-width: 991px) {
	.resp-tab .tab-pane .responsive-slider .slider .item .item-wrap .item-detail .item-content{
		padding:10px 0 20px;
	}
	.single-product >.tabs .tabbable .nav.nav-tabs li a{
		padding:0 20px;
	}
	.rtl .top-form .wrapp-minicart{
		left:0;
	}
	.product_detail .content_product_detail .cart .group_table tbody tr td .quantity{
		width:100px;
	}
	.shop4u_top .top-form.top-search .cat-wrapper:before{
		right:10px;
		.rtl &{
			left:10px;
			right:auto;
		}
	}
	#comments .commentlist .children{
		margin-left: 10px;
		.rtl &{
			margin-right: 10px;
		}
	}
	#subscribe_popup{
		min-width:680px; width:auto;
	}
}