@import "bootstrap/responsive-utilities.less";
@import "responsive/max-1280.less";
@import "responsive/min-1200.less";
@import "responsive/max-1199.less";
@import "responsive/min-992-max-1199.less";
@import "responsive/max-991.less";
@import "responsive/min-768-max-991.less";
@import "responsive/max-767.less";
@import "responsive/max-640.less";
@import "responsive/min-481-max-640.less";
@import "responsive/max-480.less";
@import "responsive/max-360.less";
@import "responsive/max-320.less";
@import "responsive/mobile.less";

@media (min-width: 1368px){
	.wp-comingsoon{
		min-height:980px;
	}
}
@media (max-width: 1366px){

}
@media (min-width: 1200px) and (max-width: 1366px) {
	
}

@media (min-width: 1200px) {    
	.clear_lg {
		clear: both;
	}
	.rtl{
		[class*="col-lg-"], [class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
			//float: right;
		}
	}
}
@media (max-width: 1199px) and ( min-width: 992px ) {
	.clear_md {
		clear: both;
	}
	.rtl{
		[class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
	.wpb_revslider_element .rev_slider_wrapper{
		ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn{
			display:none !important;
		}
	}
}

@media (max-width: 991px) and ( min-width: 768px ) { 
	.rtl{
		[class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
}

@media( min-width: 768px ){
	.woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr{
		display: table-row;
		td{
			display: table-cell;
		}
	}
}

@media (max-width: 767px) { 
	.clear_xs {
		clear: both;
	}	
	.sidebar-row{
		display: -webkit-flex;
		display: -ms-flex; // IE11
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		aside#left{
			order: 1;
			width: 100%;
		}
		aside#right{
			order: 1;
			width: 100%;
		}
		> div{
			width: 100%;
		}
	}
	.woocommerce-account #contents .entry-content .woocommerce-MyAccount-content,
	.woocommerce-account #contents .entry-content nav.woocommerce-MyAccount-navigation{
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	
	.rtl{
		[class*="col-xs-"] {
			float: right;
		}
	}
}
@media (max-width: 479px) {
	[class*="col-xs-"]{
		float: none;
		width:auto;
	}
	.products-wrapper .products-loop >li.product-category{
		float: left;
		width: 50%;
		&:nth-child(2n+1){
			clear: both;
		}
	}
	.rtl{
		[class*="col-xs-"] {
			float: none;
		}
		.products-wrapper .products-loop >li.product-category{
			float: right;
		}
	}
}
@media (max-width: 360px) {

}

