.about_top{
	.title-page{
		font-size:18px;
		color:@body-color;
		font-weight: 600;
		text-transform:uppercase;
		margin-bottom:20px;
	}
	.about-us{
		text-align:center;
	}
}
.wpb_single_image.vc_align_left{
	.rtl &{
		text-align: right;
	}
}
.about_promotion{
	h3{
		font-size: 14px; color: @body-color; font-weight: 600;
	}
}
.about_banner{
	text-align: center;
	h3{
		font-size: 14px; color: @body-color; font-weight: 600; text-transform: uppercase;
	}
}
.sw-ourteam-slider{
	margin-bottom: 40px;
	.box-title{
		text-align: center; margin-bottom: 25px;
		h2{
			font-size: 20px; text-transform: uppercase; color: @body-color; font-weight: 600;
		}
		.description{
			padding: 0 20%; line-height: 22px;
		}
	}
	.slick-slider {
		.slick-list {
			margin: 0 -15px;
		}
		.item {
			padding: 0 15px;
			text-align: center;
			.item-wrap {
				background-color: transparent;
				.item-img {
					img {
						margin: auto; .transition(all 0.3s); margin-bottom: 15px;
					}
					img:hover {
						.opacity(0.75); .transition(all 0.3s);
					}
				}
				.item-content {
					padding: 10px 0 15px;
					h3 {
						font-size: 16px; color: @body-color; text-transform: uppercase; font-weight: 600;
					}
					.team-info {
						color: #b3b3b3;
					}
					.item-desc {
						line-height: 22px; color: #666; font-size: 13px;
					}
				}
				.item-social {
					.team-social {
						display: inline-block;
						vertical-align: top;
						margin: 5px 2px;
						a {
							display: inline-block;
							vertical-align: top;
							width: 40px;
							height: 40px;
							line-height: 40px;
							text-align: center;
							font-size: 14px;
							color: #fff;
							background-color: #464646;
							.border-radius(100%);
							.transition(all 0.3s);
							&:hover {
								background-color: @color;.transition(all 0.3s);
							}
						}
					}
				}
			}
		}
	}
}