.footer{
	.footer-style1{
		padding-top: 57px; border-bottom: 1px @border-color dotted; border-top: 1px @border-color dotted;
		margin-bottom: 40px; padding-bottom: 33px;
		.home-style1 &{
			border-top: none;
		}
	}
	.footer-top{
		margin-bottom: 30px;
		.wpb_raw_html, .wpb_text_column{
			margin-bottom: 0;
		}
		.newsletter-footer-top{
			h3{
				font-size:20px; color: #333; text-transform:capitalize; font-weight: normal; margin-bottom: 2px;
			}
			p{
				color: #444; text-transform: capitalize; font-size: 14px;
			}
		}
		.newsletter-footer{
			overflow:hidden; float: right;
			.rtl &{
				float: left;
			}
			h3{
				float:left; font-size: 18px; color: #fff; margin: 0 20px 0 0; line-height:40px; text-transform: uppercase;
				.rtl &{
					float:right; margin: 0 0 0 20px;
				}
			}
			.form-newsletter{
				float: left;
				.rtl &{
					float:right;
				}
				p{
					margin-bottom: 0;
				}
				.mc4wp-form-fields{
					overflow: hidden;
				}
				input{
					margin0;
				}
				input[type="email"]{
					border:0; background: #f5f5f5;
					color:#8c8c8c;
					height:40px; padding: 0 15px;
					min-width: 400px;
					border-radius: 4px 0 0 4px; float: left;
					.rtl &{
						border-radius: 0 4px 4px 0; float: right;
					}
				}
				input[type="submit"]{
					border:0; padding: 0 15px;
					background-color:@body-color;
					height:40px; line-height: 40px;
					color:#fff;	text-transform:uppercase;
					text-align: center; font-weight: normal;
					font-family: "Poppins",Helvetica,Arial,sans-serif;
					border-radius: 0 4px 4px 0; float: left; font-size: 12px;
					.rtl &{
						border-radius: 4px 0 0 4px; float: right;
					}
					&:hover{
						background-color:#3b3b3b;
					}
				}
				.mc4wp-success{
					color: @body-color;
				}
			}
		}
	}
	.socials-footer{
		overflow:hidden; margin: 25px 0;
		ul {
			margin: 0;
			li{
				float:left;	list-style:none; margin:0 20px 0 0;
				.rtl &{
					float:right; margin:0 0 0 20px;
				}
				> a{
					display:inline-block; font-size:18px; color:#666;
					.transition(all 0.3s);
					.fa::before{
						line-height:40px;
					}
					&:hover{
						color: @color; .transition(all 0.3s);
					}
				}
			}
		}
	}
	.info-footer{
		h3{
			font-size:18px;	color:@body-color; text-transform:uppercase; position: relative; font-weight: 600; margin-bottom: 12px;
		}
		.info-footer-adres{
			margin: 0 0 10px 0;
			li{
				list-style: none; line-height: 24px; padding: 8px 0; overflow: hidden;
				span{
					color: #666; float: left; font-size: 12px; min-width: 78px; text-transform: capitalize; line-height: 24px;
					.rtl &{
						float: right;
					}
					&:before{
						font-size: 18px; display: inline-block; color: @color; vertical-align: top; font-family: FontAwesome; margin-right: 8px;
						.rtl &{
							margin-right: 0; margin-left: 8px;
						}
					}
				}
				label, a{
					color: #666; overflow: hidden; font-weight: normal; font-size: 12px; display: inline-block; line-height: 24px; vertical-align: top;
				}
				a{
					&:hover{
						color: @color;
					}
				}
				&.adres{
					span{
						&:before{
							content: "\f015";
						}
					}
				}
				&.email{
					span{
						&:before{
							content: "\f1d8";
						}
					}
				}
				&.phone{
					span{
						&:before{
							content: "\f095";
						}
					}
				}
				&.oclock{
					span{
						&:before{
							content:'\f017';
						}
					}
				}
			}
		}
	}
	.widget_tag_cloud{
		h2{
			font-size:18px;	color:@body-color; text-transform:capitalize; position: relative; font-weight: 600; margin-bottom: 24px;
		}
		.tagcloud{
			a{
				font-size: 12px !important; color: #666; text-transform: capitalize; padding: 8px 10px;
				display: inline-block; .transition(all 0.3s); background: #f5f5f5; margin: 0 5px 10px 0; border-radius: 2px;
				&:hover{
					background: @color; color: #fff; .transition(all 0.3s);
				}
			}
		}
	}
	.wpb_gallery {
		h2{
			font-size:18px;	color:@body-color; text-transform:uppercase; position: relative; font-weight: 600; margin-bottom: 24px;
		}
	}
	.widget_nav_menu{
		h2{
			font-size:18px;	color:@body-color; text-transform:uppercase; position: relative; font-weight: 600;	
		}
		ul{
			li{
				padding: 9px 0;
				a{
					font-size: 12px; color: #888; position: relative; .transition(all 0.3s);
					&:hover{
						color: @color; padding: 15px; .transition(all 0.3s);
						.rtl &{
							padding-left: 0; padding-right: 15px;
						}
						&:before{
							color: @color; opacity: 1; visibility: visible; .transition(all 0.3s);
						}
					}
					&:before{
						content: '\f111'; font-family: FontAwesome;	font-size: 5px;	position: absolute; top: 50%; left: 0; margin-top: -3px; color: #999; opacity: 0; visibility: hidden; .transition(all 0.3s);
						.rtl &{
							left: auto; right: 0;
						}
					}
				}
			}
		}
	}
	.footer-copyright{
		color:#666;
		.container{
			padding: 37px 0; border-top: 1px @border-color dotted;
		}
		.sidebar-copyright{
			.widget_media_image{
				img{
					width: auto; margin: 0 auto;
				}
			}
		}
		.copyright-text{
			text-align: center;
			p{
				font-size: 12px; margin-top: 25px;
			}
		}
		a{
			color:@color;
			&:hover{
				opacity:0.85;
			}
		}
		&.style2{
			background: #eaeaea;
			.container{
				border: none; padding: 15px 0;
			}
			.sidebar-copyright{
				float: right; margin-top: 3px;
				.rtl &{
					float: left;
				}
			}
			.copyright-text{
				float: left;
				.rtl &{
					float: right;
				}
				p{
					margin-top:8px;
				}
			}
		}
	}	
}

#shop4u-totop {
	background-color: @color;
	bottom: 30px; right: 15px;
	text-align: center; position: fixed;
	height: 50px; width: 50px; line-height: 43px;
	z-index: 99; border: 4px transparent solid;
	.opacity(1);
	.border-radius(4px);
	.transition(all .3s);
	.rotate(-90deg);
	&:before{
		content: '\f197'; font-family: fontawesome; color: #fff; font-size: 20px;
	}
	&:hover {
		background: darken(@color, 10%);
	}
	.rtl & {
		right: auto;
		left: 15px;
	}
}