/* ================================================================== */
/* ================================================================== */
.item  {
	.item-wrap {
		background-color: #fff;
		text-align: center;
		padding:0;
		.item-detail {
			position: relative;	overflow: hidden;
			.products-thumb{
				position:relative;
				.onsale {
					display: none;
				}
				a .product-thumb-hover{
					padding: 5px;
					img{
						margin: 0 auto; width: 100%;
					}
				}
				>a img{
					width: 100%;
				}
				.top-item{
					position: absolute;	top: 50%; left: 0; right: 0; margin-top: -20px; text-align: center; z-index: 9;
					.clear{
						display: none;
					}
					a.fancybox{
						text-align:center;
						color: @body-color; background: #fff; box-shadow: 0 2px 1px #ccc;
						font-weight: 500;
						height: 40px;
						line-height: 40px;
						padding: 0;
						display: inline-block;
						vertical-align: top;
						font-size: 0;
						opacity:0;
						min-width: 40px;
						.translateY(-40px);
						.border-radius(50%);
						.transition(all .5s);
						z-index: 9;
						&:before {
							font-family: fontawesome;
							font-size: 12px;
							content:'\f06e';	
						}
						&:hover {
							background-color: @color; color: #fff;
						}
					}
					.yith-wcwl-add-to-wishlist {
						margin: 0;
						.yith-wcwl-add-button,
						.yith-wcwl-wishlistaddedbrowse,
						.yith-wcwl-wishlistexistsbrowse {		
							position: relative; margin: 0;
							a { 
								.transition(all .3s);
								&:before {
									content: "\f004";
								}
							}
							&.show {
								display: inline-block !important;
								vertical-align: top;
							}
							.feedback {
								display: none;
							}
							.ajax-loading {
								position: absolute; z-index: 9;
								left: 0;
								right: 0;
								top: 0;
								bottom: 0;
								margin: auto;
							}
						}
					}
					a.compare{
						.transition(all .4s);
						&:before {
							font-size:13px;
							content: "\f021";
						}
					}					
					.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
					a.compare{
						text-align:center;
						color: @body-color; background: #fff; box-shadow: 0 2px 1px #ccc;
						font-weight: 500;
						height: 40px;
						line-height: 40px;
						padding: 0;
						display: inline-block;
						vertical-align: top;
						overflow: hidden;
						position: relative;
						font-size: 0;
						min-width: 40px;
						margin: 0;
						z-index: 9;
						.opacity(0);
						visibility: hidden;
						.translateY(-40px);
						.border-radius(50%);
						&:before {
							font-family: fontawesome;
							font-size: 12px;									
						}
						&:hover {
							min-width: 40px;
							background-color: @color;;
							font-size: 0;
							padding: 0;
							&:before {
								color: #fff;
							}
						}
					}
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped,
					.yith-wcwl-add-to-wishlist,
					a.compare,
					.group.fancybox {
						display: inline-block;
						vertical-align: top;
					}
					a.compare{
						margin: 0 6px 0 2px;
						.rtl &{
							margin: 0 2px 0 6px;
						}
					}
					.yith-wcwl-wishlistaddedbrowse.show,
					.yith-wcwl-wishlistexistsbrowse.show {
						a {
							background-color: @color;
							&:before {
								color: #fff;
							}							
						}
					}
				}
				a{
					display: block;
				}
			}
			.item-content, 
			.item-img {
				padding: 0;
				vertical-align: top;
				h4 {
					margin: 10px 0;									
					a {
						font-size: 14px;
						color: #555;
						text-transform: capitalize;
						position: relative;
						z-index: 2;
						.transition(all .3s);
						&:hover{
							color: @color; .transition(all .3s);
						}
					}
				}
				.item-price {
					float: none;
					z-index: 2;
					.transition(all .3s);
					display:inline-block;
					vertical-align:top;
					margin-bottom: 20px;
				}
				.reviews-content {
					line-height: 12px; margin-bottom: 7px;
					position: relative;
					z-index: 2;
				}
				.item-bottom {
					font-size: 12px;
					z-index: 2;
					.clear {
						display: none;
					}					
					.button,
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped  {
						.transition(all .3s);
						height:40px; overflow: hidden;
						line-height:40px;
						font-size:12px;
						color:#888;
						padding:0 20px;
						display: inline-block;
						text-transform:uppercase;
						font-weight: normal;
						background: transparent;
						.border-radius(30px);
						border: 1px @border-color solid;
						&.loading {
							background-color: @color;
							.opacity(0.75);
							&:before {
								text-align: center;
								left: 0;
								background-color: @color;
								border-radius:16px;
							}
						}
						&.added {
							background-color: @color; color: #fff;
							&:after{
								font-family: WooCommerce;
								content: "\e017";
								margin-left: 7px;
								vertical-align: bottom; display: inline-block;
								.rtl &{
									margin-left: 0; margin-right: 7px;
								}
							}
						}
					}
				}	
			}	
		}	
		&:hover {
			.item-detail {
				.products-thumb{
					a >img{
						opacity: 0.4;
					}
					.top-item{
						a.fancybox{
							opacity:1;
							.translateY(0);
						}
						.opacity(1); 
						.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
						a.compare{
							.translateY(0); .opacity(1); visibility: visible;
						}
					}
				}
				.item-content {
					.item-bottom {
						.button,
						.add_to_cart_button,
						.product_type_external,
						.product_type_grouped{
							background: @color; color: #fff; border: 1px @color solid;
						}
					}								
				}
			}
		}
	}
}

/* ================================================================== */
/* ================================================================== */
.responsive-post-slider{
	margin-bottom: 30px;
	.title-sytle1;
	.res-button{
		display: none !important;
	}
	.resp-slider-container .slider{
		.item{
			.item-detail{
				.img_over{
					position:relative; overflow: hidden;
					img{
						.transition(all 0.3s); width: 100%;
					}
					.entry-date{
						position:absolute; top:10px; left:10px; z-index:2; background: rgba(0, 0, 0, 0.8); padding: 5px 0; text-align: center; min-width: 50px;
						.rtl &{
							right:10px; left:auto;
						}
						.day-time{
							font-size:22px;	color:#fff; font-weight: 600;
						}
						.month-time{
							font-size:14px;	color:#fff;
						}
					}
					a{
						&:hover{
							img{
								.scale(1.06); .transition(all 0.3s);
							}
						}
					}
				}
				.entry-content{
					min-height: 280px; background: rgba(0, 0, 0, 0.7); text-align: center; padding: 46px 30px 10px 30px;
					h4{
						a{
							color:#fff;	font-weight: 500;
							font-size:18px;	text-transform:uppercase;
							display:block; .transition(all 0.3s);
							&:hover{
								color:@color; .transition(all 0.3s);
							}
						}
					}
					.description1{
						color: rgba(255, 255, 255, 0.8); line-height: 21px; margin-bottom: 15px; font-size: 12px;
					}
					.entry-meta{
						color:#999;
						font-size:12px;
						overflow:hidden;
						padding:6px 0 16px;
						.entry-comment{
							margin-right:20px;
							.rtl &{
								margin:0 0 0 20px;
							}
						}
						.entry-tag a{
							color:#999;
							font-size:12px;
							&:hover{
								color:@color;
							}
						}
						.entry-comment, .entry-tag{
							display: inline-block; vertical-align: top;
							i{
								font-size:14px;
								color:#999;
								margin-right:10px;
								.rtl &{
									margin:0 0 0 10px;
								}
							}	
						}
					}
					.readmore{
						a{
							color: @color; text-transform: uppercase; font-size: 12px;
							i{
								margin: 0 5px;
								.rtl &{
									&:before{
										content: '\f100';
									}
								}
							}
						}
					}
				}
			}
			&:nth-child(2n){
				.item-inner{
					.item-detail{
						display: flex; flex-direction: column;
						.entry-content{
							order:-1;
						}
					}
				}
			}
		}
	}
	&.style2{
		.block-title{
			position: relative; border-bottom: 1px solid @border-color; margin-bottom: 30px; text-align: left;
			.rtl &{
				text-align: right;
			}
			&:before{
				content: ""; background: @color;
				width: 100px; height: 1px;
				position: absolute;	bottom: -1px; left: 0;
				.rtl &{
					left: auto; right: 0;
				}
			}
			h3{
				font-size: 20px; color: @body-color; text-transform: uppercase; font-weight: 600;
			}	
		}
		.resp-slider-container .slider .item{
			.item-detail .entry-content{
				background: #fff; text-align: left; min-height: 210px; padding: 0 20px;
				.rtl &{
					text-align: right;
				}
				h4 a{
					font-size: 16px; color: #222;
					&:hover{
						color: @color;
					}
				}
				.description1{
					color: #666; margin-bottom: 11px;
				}
				.entry-meta{
					padding: 6px 0 10px;
				}
			}
			&:nth-child(2n+1){
				.item-detail .entry-content{
					padding-top: 20px;
				}
			}
		}
	}
}	
.tag-style1{
	padding: 11px 0; text-align: center; margin: 0;
	.widget_tag_cloud{
		.widgettitle{
			font-size: 13px; color: #222; margin: 2px 15px 0 0; display: inline-block; vertical-align: top;
			.rtl &{
				margin-right: 0; margin:2px 0 0 15px;
			}
		}
		.tagcloud{
			display: inline-block; vertical-align: top;
			a{
				color: #666; font-size: 13px !important; padding: 0 15px; text-transform: capitalize;
				&:hover{
					color: @color;
				}
			}
		}
	}
}
.brand-ship{
	overflow: hidden;
	.item{
		width: 33.332%; float: left; padding: 0 15px; position: relative;
		.rtl &{
			float: right;
		}
		&:hover{
			.banner-wrap{
				a{
					.transition(0.5s ease); cursor: pointer; color: @color;
					.banner-cout h3{
						color: @color; .transition(0.5s ease);
					}
				}
			}
		}
	}
	.banner-wrap{
		padding: 28px 0; text-align: center;
		a{
			display: inline-block;
			> span{
				float: left; margin-right: 10px; font-size: 0;
				.rtl &{
					float: right; margin-left: 10px; margin-right: 0;
				}
			}
			.icon{
				background: url(../assets/img/promotion.png) no-repeat center center;
			}
			.icon1{
				background-position: -3px -49px; width: 60px; height: 52px; .transition(0.5s ease);
			}
			.icon2{
				background-position: -3px 3px; width: 60px; height: 52px; .transition(0.5s ease);
			}
			.icon4{
				background-position: 0px -104px; width: 60px; height: 52px; .transition(0.5s ease);
			}
			.banner-cout{
				overflow: hidden; padding-top: 10px; text-align: left;
				.rtl &{
					text-align: right;
				}
				h3{
					font-size: 14px; text-transform: capitalize; line-height: 18px; margin-bottom: 0; color: #fff; font-weight: normal; .transition(0.5s ease);
				}
				span{
					font-size: 12px; color: #fff; text-transform: none; font-weight: normal;
				}
			}
		}
	}
}
.shop4u-text-block{
	margin-bottom: 20px;
	.image{
		a{
			position: relative; display: block;
			&:before{
				content: ""; background: rgba(0, 0, 0, 0.4); position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; visibility: hidden; .transition(0.3s ease);
			}
			img{
				margin-bottom: 10px;
			}
		}
		&:hover{
			a{
				&:before{
					opacity: 1; visibility: visible; .transition(0.3s ease);
				}
			}
		}
	}
	.content-info{
		text-align: center;
		h3{
			font-size: 16px; color: @body-color; margin-bottom: 5px;
		}
		p{
			a{
				text-transform: capitalize; color: @color; display: inline-block; vertical-align: top; .transition(0.3s ease);
				&:hover{
					color: @a-color; .transition(0.3s ease);
				}
				&:after{
					content: "\f0da"; font-family: fontawesome; display: inline-block; vertical-align: top; margin: 0 0 0 8px; line-height: 22px;
					.rtl &{
						margin: 0 8px 0 0; content: "\f0d9";
					}
				}
			}
		}
	}
}
.heading-style1{
	padding:15px 0; border-bottom:2px solid @border-color; position:relative; text-transform: capitalize; margin-bottom: 30px;
	&:before{
		content: "";
		background: @color;
		width: 100px;
		height: 2px;
		position: absolute;
		bottom: -2px;
		left: 50%;
		margin-left: -50px;
	}
}
.banner-single{
	overflow: hidden;
	.vc_figure {
		width: 100%;
		a{
			width: 100%;
			img{
				.transition(all 0.5s); width: 100%;
				&:hover{
					opacity: (1); .scale(1.02); .transition(all 0.5s);
				}
			}
		}
	}
}