#cpanel-form a.cpanel-control {
	display: none;
}
.faq {
	margin-bottom: 30px;
	h2 {
		font-size: 20px; margin-bottom: 20px; font-weight: 600; text-transform: uppercase; color:#222;
		.rtl &{
			text-align: right !important;
		}
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
		border-color: @color !important;
		background-color:@color !important;
		.rtl &{
			text-align: right;
		}
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title>a {
		color:#fff !important;
	} 
	.vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before, 
	{
		content: "\f068" !important; 
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::after, 
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::before {
		border: 0 !important;
	}
	.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
		width: 44px;
		height: 44px;
		background-color: @color;
		left: 0 !important;
		.rtl &{
			left: auto !important;; right: 0 !important;
		}
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::before {
		content: "\f067" !important;
		font-family: FontAwesome !important;
		font-style: normal !important;
		font-size: 14px;
		right: auto;
		left: 50% !important;
		margin-left: -5px;
		margin-top: -7px;
		color:#fff;
		-webkit-transform: translateY(0%) !important;
		-ms-transform: translateY(0%) !important;
		transform: translateY(0%) !important; 
		border-width: 0 !important;
		.rtl &{
			left: auto !important;; right: 50% !important; margin-left: 0; margin-right: -5px;
		}
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body, 
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body::after, 
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body::before {
		border-color: #e9e9e9 !important;
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
		background-color:transparent !important;
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
		background-color: #f4f4f4 !important;
		border:0 !important;
		.rtl &{
			text-align: right;
		}
	}
	.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a {
		color:#222 !important;
		font-size: 16px !important;
		padding-left: 58px !important;
		.rtl &{
			padding-right: 58px !important; padding-left: 0 !important;
		}
	}
	.vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active+.vc_tta-panel .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:first-child) .vc_tta-panel-heading {
		margin-top: 2px !important;
	}
	.vc_tta.vc_general .vc_tta-panel-body {
		padding: 25px 18px !important;
	}
}
.toprated-product{
	.res-button{
		top:45px !important;
	}
}
.wp-comingsoon {
	background: url('../assets/img/bg-comingsoon.jpg') no-repeat center center;	
	text-align: center;
	.title-comingsoon {
		margin-bottom: 40px;
		margin-top: 330px;
		h1 {
			color: #fff;
			font-size: 32px;
			font-weight: 600 !important;
			text-transform: uppercase;
		}
		.des-comingsoon {
			font-size: 13px;
			color: #e0e0e0;
			width:60%;
			line-height:24px;
			margin:25px auto 0;
			text-align:center;
		}
	}
	.countdown-shortcode {
		margin-bottom: 280px;
	}
	.social-comingsoon {
		.menu-social {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			text-align: center;
			list-style-type: none;
			li {
				float: left;
				margin: 0 5px;
				a {
					display: inline-block;
					vertical-align: top;
					color: #818180;
					font-size: 14px;
					width: 46px;
					height: 46px;
					line-height: 46px;
					overflow: hidden;
					background-color: rgba(255, 255, 255, .1);
					.border-radius(100%);
					.transition(all .3s);
					&:hover {
						background-color: @color;
						color: #fff;
					}
				}
			}
		}
	}
	.footer-comingsoon {
		padding: 17px 0;
		line-height: 20px;
		background-color: rgba(0, 0, 0, .7);
		color: #fff;
		a {
			color: @color;
			&:hover { color: darken(@color, 10%); }
		}
	}
}

.comming-soon{
	text-align: center;
	.ClassyCountdown-wrapper{
		display:inline-block;
		overflow:hidden;
		> div {
			display: inline-block;
			position: relative;
			width: 120px;
			margin: 10px 15px;
			float:left;
			.rtl &{
				float:right;
			}
		}
	}
	.ClassyCountdown-wrapper .ClassyCountdown-value {
		>div {
			position: absolute;
			font-size: 34px !important;
			font-weight: 600;
			color: #fff;
			top: 0;
			width: 100%;
			height: 100%;
			line-height: 100px;
		}
		>span {
			font-size: 14px !important;
			font-weight: 600;
			color: #fff !important;
			display: inline-block;
			top: -45px;
			position:relative;
			text-transform: uppercase;
		}
	}
}
@-moz-document url-prefix() { 
	.comming-soon .ClassyCountdown-wrapper .ClassyCountdown-value > span{
		margin-top:-50px;
		top:auto;
	}
}
/*
*	Breadcrumbs 
*/
.shop4u_breadcrumbs{
	margin-top: 36px;
	.listing-title{
		margin-top:30px;
		margin-bottom:20px;
	}
	.breadcrumbs .breadcrumb{
		margin: 0;
		background-color:#fff;
		padding:0 0 36px;
		> li{
			font-size;12px;
			color:#7d7d7d;
			text-transform:uppercase;
			font-weight: 600;
			&:last-child{
				span.go-page{
					display:none;
				}
			}
			+ li{
				&:before{
					content:'';
					padding:0;
				}
			}
			> 	.go-page{
				&:before{
					content:'\f105';
					font-family:'FontAwesome';
					padding:0 15px;
				}
				.rtl &{
					float:left;
					&:before{
						content:'\f104';
					}
				}
			}
			> a{
				color:#7d7d7d;
				&:hover{
					color:@color;
				}
			}
		}
	}
}
/* ====================================================== */
/* ====================================================== */
.listing-tab-shortcode {
	background-color: #fff;
	.tabbable.tabs {
		#myTabs {
			&.nav.nav-tabs {
				max-width: 240px;
				background-color: #fff;
				float: left;
				width: 100%;
				margin: 0;
				border: 0;
				padding: 50px 30px 30px;
				.rtl & {
					float: right;
				}
				.title-cat {
					font-size: 14px;
					text-transform: uppercase;
					color: #111;
					margin-bottom: 10px;
				}
				>li {
					width: 100%;
					float: none;
					a {
						border: 0;
						font-weight: normal;
						text-transform: capitalize;
						color: #777777;
						padding: 10px 0;
						cursor: pointer;
						&:hover {
							color: @color;
						}
					}
					&.active, &:hover, &:focus {
						background-color: transparent;
						>a {
							border: 0;
							background-color: transparent;
						}
					}
				}

			}
		}
		.tab-content {
			overflow: hidden;
			padding: 50px 30px;
			border-left: 1px solid @border-color;
			border-right: 1px solid @border-color;
			border-bottom: 1px solid @border-color;
			background-color: #f3f3f3;
			visibility: hidden;
			.tab-pane {
				margin: 0 -15px;
				.opacity(0);
				.item {					
					width: 33.333%;
					float: left;
					padding: 0 15px;
					.item-wrap {
						border: 1px solid #ddd;
					}
				}
				&.active {;
					.opacity(1);
				}
			}
		}
	}
}
.search{
	&.search-results .page.type-page .entry-content{
		.entry-meta i{
			margin-right:5px;
		}
		.bl_read_more {
			a{
				text-transform:capitalize;
				color:@color;
				display:inline-block;
				margin:0 0 20px;
				&:hover{
					opacity:0.8;
				}
			}
			i {
				margin: 0 5px;
			}
		}
	}
	.listing-title h1 small{
		color: @color;
	}
	.shop4u_breadcrumbs .breadcrumbs .breadcrumb{
		padding-bottom: 10px;
	}
	.blog-content .pagination{
		margin-bottom:40px;
	}
	&.rtl .listing-title h1 small{
		float:right;
	}
	.listing-title h1{
		font-size: 24px;
		small{
			position:relative;
			&:before{
				content:'"';
				display:inline-block;
				margin:0 5px;
			}
			&:after{
				content:'"';
				display:inline-block;
				margin:0 5px;
			}
		}
	}
	.products-wrapper{
		padding:0;
	}
	.pag-search  > .pagination{
		margin-bottom:40px;		
	}
	.no-result{
		margin-bottom: 40px;
		p{
			font-size: 14px;
			margin-bottom: 15px;
		}
		form{
			label{
				display: none;
			}
			max-width: 100%;
			min-height: 40px;
			position: relative;
			input[type="text"],input[type="password"]{
				border-radius: 0;
				padding: 15px 85px 15px 20px;
				width: 100%;
			}
			input[type="submit"]{
				background: @color;
				border: 1px solid @color;
				border-radius: 0;
				color: #fff;
				padding: 15px;
				position: absolute;
				right: 0;
				top: 0;
				text-transform: uppercase;
				&:hover{
					background: darken(@color, 10);
					border-color: darken(@color, 10);
				}
			}
		}
	}
	&.rtl{
		.no-result{
			form{
				input[type="text"]{
					padding: 15px 20px 15px 85px;
				}
				input[type="submit"]{
					right: auto;
					left: 0;
				}
			}
		}
	}
}
.content-search {
	>.post , .page, .testimonial, .team, .portfolio, .room, .product {
		background-color: #fff;
		margin-bottom: 30px;
		padding:0 0 30px 0; border-bottom: 1px @border-color solid;
		.entry-thumb {
			padding-right: 30px;
			.rtl & {
				padding-left: 30px;
				padding-right: 0;
			}
		}
		.entry-content {
			overflow: hidden;
			.title-blog {
				h3 {
					font-size: 16px;
					color: #111;	
				}
			}
			.entry-meta{
				margin-bottom: 10px;
				.entry-author {
					color:#999;
					a{
						color:#999;
						&:hover{
							color:@color;
						}
					}
				}
				i {
					margin-right: 5px;
					.rtl & {
						margin-right: 0;
						margin-left: 5px;
					}
				}
				a{
					color:#999;
					&:hover{
						color:@color;
					}
				}
				>span {
					padding-right: 20px;
					display: inline-block;
					vertical-align: top;
					color:#999;
					.rtl & {
						padding-right: 0;
						padding-left: 20px;
					}
				}
			}
			.entry-description {
				margin-bottom: 10px;
			}
			.bl_read_more{
				a{
					text-transform:capitalize;
					color:@color;
					&:hover{
						opacity:0.8;
					}
				}
				i {
					margin: 0 5px;
				}
			}
		}
	}
}
/*
* Hack css firefox
*/
@-moz-document url-prefix() {


}
/*ie11*/
_:-ms-fullscreen, :root .shop4u_top .top-form.top-search select::-ms-expand{ 
	display:none;
}

