/*Shop4u slider bullet*/
.wpb_revslider_element .rev_slider_wrapper{
	.tp-bullets.custom{
		width:200px !important;
		.tp-bullet{
			width: 8px !important;
			height: 8px !important;
			background-color: #7d7d7d !important;
			position: relative !important;
			display: inline-block !important;
			border-radius: 50% !important;
			cursor: pointer;
			box-sizing: content-box;
			text-align: center !important;
			left: 0 !important;

			+ .tp-bullet{
				margin-left:10px !important;
				.rtl &{
					margin-right:10px !important;
					margin-left:0 !important;
				}
			}
			&:after{
				display:none;
				background-color:transparent;
				box-shadow:none;
			}
			&.selected{
				width:30px !important;
				height:8px !important;
				border-radius:3px !important;
				background-color:@color !important;
				.home-style3 &{
					background-color:@body-color !important;
				}
			}
		}
	}
	.see-more1{
		color:#fff;
		font-size:14px;
		.fa{
			margin-right:8px;
		}
		&:hover{
			opacity:0.85;
		}
	}
	.see-more2{
		color:#0f8db3;
		font-size:14px;
		.fa{
			margin-right:8px;
		}
		&:hover{
			opacity:0.85;
		}
	}
}
.slider-more{
	color: #fff;
	.home-style2 &{
		color:@color;
		&:hover{
			opacity:0.85;
		}
	}
	i{
		margin-right: 10px;
	}
	&:hover{
		color: @color;
	}
}
.slider-more1{
	color: @color;
	i{
		margin-right: 10px;
	}
	&:hover{
		color: darken(@color, 10);
	}
}
/*=========== Title Sytle1===============*/
.title-sytle1{
	text-align: center;
	.box-title{
		h3{
			font-size:24px;	color:@body-color; text-transform:uppercase; font-weight: 600;
		}
	}
	.description{
		font-size: 12px; color: #888; margin-bottom: 19px; padding: 0 20%; line-height: 22px;
	}
}
.title-sytle2{
	.box-title{
		position: relative; border-bottom: 1px solid @border-color; margin-bottom: 30px;
		&:before{
			content: ""; background: @color;
			width: 100px; height: 1px;
			position: absolute;	bottom: -1px; left: 0;
			.rtl &{
				left: auto; right: 0;
			}
		}
		h3{
			font-size: 20px; color: @body-color; text-transform: uppercase; float: left; font-weight: 600;
			.rtl &{
				float: right;
			}
		}
		a{
			font-size: 12px; color: #888; padding-top: 7px; text-transform: capitalize;
			&:hover{
				color: @color;
			}
		}
	}
}
/*============ button style=================*/
.button-style1{
	.res-button{
		width:41px;
		height:41px;
		display:inline-block;
		position:absolute;
		top:50%;
		margin-top:-20px;
		cursor:pointer; z-index: 9;
		&.slick-prev{
			left:-20px;
			background: url(../assets/img/bg_general.png) no-repeat -20px -525px;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -464px;;
			}
		}
		&.slick-next{
			right:-20px;
			background: url(../assets/img/bg_general.png) no-repeat -20px -281px;;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -220px;
			}
		}
	}
}
.button-style2{
	.res-button{
		width:28px;
		height:28px;
		display:inline-block;
		position:absolute;
		top:-34px; z-index: 2;
		cursor:pointer;
		&.slick-next{
			right:48px;
			.rtl &{
				left:15px;
				right:auto;
			}
			background: url(../assets/img/bg_general.png) no-repeat  -20px -1111px;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -1063px;;
			}
		}
		&.slick-prev{
			right:15px;
			.rtl &{
				left:48px;
				right:auto;
			}
			background: url(../assets/img/bg_general.png) no-repeat  -20px -1015px;;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -967px;;
			}
		}
	}
}
.button-style3{
	.res-button{
		position:absolute; top: 50%; cursor:pointer; font-size: 24px; width: 45px; height: 45px; text-align: center; line-height: 40px; z-index: 9;
		.opacity(0); visibility: hidden; .transition(all 0.3s ease); margin-top: -22px; border: 2px @border-color solid; background: #fff; border-radius: 50%;
		&.slick-next{
			right: -22px; 
			.rtl &{
				right: auto; left: -22px;
			}
			&:before{
				content: '\f105'; font-family: FontAwesome; color: darken(@border-color, 10%); 
				.rtl &{
					content: '\f104';
				}
			}
			&:hover{
				background: @color; border-color: @color; .transition(all 0.3s ease);
				&:before{
					color: #fff;
				}
			}
		}
		&.slick-prev{
			left: -22px;
			.rtl &{
				left: auto; right: -22px;
			}
			&:before{
				content: '\f104'; font-family: FontAwesome; color: darken(@border-color, 10%); 
				.rtl &{
					content: '\f105';
				}
			}
			&:hover{
				background: @color; border-color: @color; .transition(all 0.3s ease);
				&:before{
					color: #fff;
				}
			}
		}
	}
	&:hover{
		.res-button{
			.opacity(1); visibility: visible; .transition(all 0.3s ease);
		}
	}
}

.sale-off{
	position:absolute;
	z-index:1;
	top:10px;
	right:15px;
	font-size:12px;
	color:#fff;
	text-align:center;
	display:inline-block;
	width:45px; height:45px; line-height: 45px;
	border-radius:50%;
	text-align:center;
	background-color:@color;
	.rtl &{
		left:15px;
		right:auto;
	}
}
/*===========button slider=================*/
.shop4u_social {
	text-align: center;
	line-height: 19px;
	.main-social {
		margin: 0 auto;
		list-style-type: none;
		li {
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
			a {
				color: #999999;
				font-size: 16px;
				&:hover {
					color: @color;
				}
			}
		}
	}
}
.yith-wcwl-share{
	text-align:center;
}

/* ========================================================== */
/* ========================================================== */
.woocommerce a.added_to_cart,
.added_to_cart.wc-forward {
	display: none;
}
.item-price {
	font-size: 16px;
	color: @a-color;
	overflow:hidden;
	font-weight: 600;
	display: inline-block; vertical-align: top;
	del{
		text-decoration: line-through;
		color: #aaa;
		margin:2px 10px 0;
		font-weight: normal;
		float:right;
		font-size:14px;
		.rtl &{
			float:left;
		}
	}
	ins {
		float:left;
		margin: 0;
		text-decoration:none;
		.rtl &{
			float:right;
		}
	}
}
/* ========================================================== */
/* ========================================================== */

.woocommerce span.onsale,
.onsale {
	display:none;
	height:35px;
	width:35px;
	line-height:35px;
	color:#fff;
	background-color:#ff5c00;
	text-transform:capitalize;
	font-weight: 600;
	position:absolute;
	top:15px;
	right:15px;
	left:auto;
}

/* ==================================================== */
/* ==================================================== */
.border-tp {
	border-top: 1px solid #ddd;
	margin-top: 95px;
	overflow: visible !important;
	.order-title {
		margin-top: -20px;
	}
}
.order-desc {
	font-family: 'Niconne';
	font-size: 26px;
	color: rgba(1, 1, 1, .4);
}
/*Mail chim*/
.mc4wp-form{
	&.mc4wp-form-success{
		.mc4wp-alert.mc4wp-success{
			color:green;
			margin:15px 0;
		}
	}
}
/* ============================================================ */
/* ============================================================ */

.shop4u-socials{
	ul{
		overflow:hidden;
		margin-top:30px;
		margin-bottom:60px;
		> li{
			display:inline-block;
			> a{
				font-size:22px;
				color:#fff;
				margin-right:30px;
				&:hover{
					color:#faa600;
				}
			}
		}
	}
}

.topsearch-entry{
	.button-search-pro.loading{		
		&:before{
			background-image: url( ../assets/img/loadingp.gif );
			background-color: #2d2d2d;
			background-size: 20px 20px;
		}
	}
	.input-group-btn{
		position: static;
	}
	.input-group{
		display: block;
	}
	.search-append{
		position: absolute;		
		top: 120%;		
		right: 0;
		left: -20px;
		padding: 0;
		min-width: 300px;
		text-align: left;
		border: none;		
		.rtl &{
			text-align: right; right: -20px;left: 0;
			.autocomplete-suggestion > a img{
				margin-right: 0;
				margin-left: 10px;
			}
		}
		.autocomplete-suggestions{
			box-shadow: 0 0 0 1px #ccc;
			background: #fff;
			border-radius: 3px;
		}
		.autocomplete-suggestion{
			clear: both;
			padding: 0 10px;
			margin-bottom: 15px;
			&:first-child{
				padding-top: 15px;
			}
			&:last-child{
				padding-bottom: 15px;
			}
			&.no-result{
				padding: 10px;
			}
			> a{
				padding: 0 10px;
				display: block;
				overflow: hidden;
				img{
					margin-right: 10px;
					border: 1px solid #ccc;
				}
			}
			.media-body{
				> span{
					display: block;
					margin-bottom: 5px;
					font-weight: 600;
					strong{
						color: @color;
					}
				}
				.search-meta{
					> div, > p{
						display: inline-block;
						vertical-align: top;
					}
					.sku{
						margin-right: 20px;
						> span{
							font-weight: 600;
						}
					}
				}
				.price{		
					color: @color;
					font-weight: 600;
					font-size: 14px;
					span.price-label{
						color: #666;
					}
					ins{						
						text-decoration: none;
					}
					del{
						color: #999;
					}
				}
			}
		}
	}
}