#cpanel-form{
	display: block !important;
}
.home, .home-style1{
	.shop4u_breadcrumbs{
		display:none;
	}
	.wpb_revslider_element{
		margin-bottom:30px;
	}
}
.block-popup-login {
	margin-top: 170px;
	width: 600px;
	padding: 0px 20px 0px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	form.login,form.register {
		border: 0px;
		padding: 0px;
		margin: 0;
		text-align: left;
		border-radius: 0px;
		.rtl &{
			text-align:right;
		}
	}
	.tt_popup_login {
		height: 42px;
		background-color: @color;
		margin: 0 -20px;
		padding:0 10px;
		strong {
			line-height: 42px;
			display: inline-block;
			padding-left: 55px;
			text-transform: uppercase;
			font-size: 15px;
			color: #fff;
			background-image: url(../assets/img/bg_general.png);
			background-repeat: no-repeat;
			background-position:  -20px -700px;
			position: relative;
			padding-right: 10px;
			background-color: @color;
			.rtl &{
				background-position: right -20px top -700px;
				padding-left:10px;
				padding-right:55px;
			}
		}
	}
	.block-content {
		padding-top: 30px; overflow: hidden;
		padding-bottom: 20px; font-weight: normal;
		.col-reg {
			width: 50%;
			float: left;
			min-height: 188px;
			.rtl &{
				float:right;
			}
			&.registered-account {
				padding-right: 30px;
				border-right: 1px solid #d0d0d0;
				.rtl &{
					border-left:1px solid #d0d0d0;
					border-right:0;
					padding-left:30px;
				}
				.submit-login{
					position:relative;
					float:left;
					margin-top:10px;
					.rtl &{
						float:right;
					}
					.btn-submit-login{
						background-color: @color;
						padding: 0 25px 0px 48px;
						height: 42px;
						font-size: 11px;
						font-weight: 600;
						white-space: nowrap;
						text-transform: uppercase;
						color:#fff;
						.border-radius(0);
						border:0;
						.rtl &{
							padding:0 48px 0px 25px;
						}
						&:hover{
							background-color: darken(@color, 10);   
						}
					}
					&:before{
						background: url(../assets/img/bg_general.png) no-repeat -20px -1593px;
						content:'';
						display:block;
						width:15px;
						height:18px;
						position:absolute;
						top:10px;
						left:20px;
						z-index:5;
						.rtl &{
							right:20px;
							left:auto;
						}
					}					
				}
			}
			&.login-customer{
				padding-left: 30px;
				color: lighten( @body-color, 14% );
				.rtl &{
					padding-right:30px;
					padding-left:0;
				}
				h2 {
					font-size: 15px;
					font-weight: 600;
					margin-bottom:0;
				}
			}
		}
		.note-reg {
			margin:0;
		}
		.list-log {
			list-style:none;
			margin:0;
		}
		.list-log li {
			padding: 2px 0px 2px 14px;
			font-style: italic;
			position: relative;
			border-left: none;
			line-height:22px;	
			.rtl &{
				padding: 2px 14px 2px 0;
				&:before{
					right:0;
					left:auto;
				}
			}
			&:before {
				content: "";
				display: inline-block;
				width: 5px;
				height: 5px;
				background-color: #666666;
				position: absolute;
				left: 0px;
				top: 10px;
			}
		}
		.btn-reg-popup {
			height: 42px;
			line-height: 42px;
			padding: 0px 42px;
			text-transform: uppercase;
			display: inline-block;
			font-size: 11px;
			margin-top: 15px;
			color: #fff;
			font-weight: 600;
			background-color:@color;
			&:hover{
				background-color:darken(@color, 10%);
			}
		}
	}
	.email-input {
		position: relative;
		&:before {
			background: url(../assets/img/bg_general.png) no-repeat -20px -160px #ababab;
			content: "";
			display: inline-block;
			width: 43px;
			height: 40px;
			position: absolute;
			top: 0px;
			left: 0px;
			right:auto;
			.rtl &{
				right:0;
				left:auto;
			}
		}
	}
	.pass-input{
		position: relative;
		&:before {
			background: url(../assets/img/bg_general.png) no-repeat -20px -100px #ababab;
			content: "";
			display: inline-block;
			width: 43px;
			height: 40px;
			position: absolute;
			top: 0px;
			left: 0px;
			right:auto;
			.rtl &{
				right:0;
				left:auto;
			}
		}
	}
	.input-text {
		border: none;
		margin-bottom: 14px;
		width: 100%;
		padding: 0 5px 0px 52px;
		height: 40px !important;
		font-size: 108.33%;
		border: 1px solid #d1d1d1;
		.border-radius(0);
		.rtl &{
			padding: 0 52px 0px 5px;
		}
	}	
	.ft-link-p{
		a {
			color:lighten( @body-color, 14% );
			padding:0;
			border:0;
			&:hover{ color:@color;}
		}
	}						
	
}
.close-login{
	display: inline-block;
	background: url(../assets/img/bg_general.png) no-repeat;
	background-position: -24px -2208px; 
	width: 26px;
	height: 26px;
	overflow: hidden;
	text-indent: -9999px;
	right: 7px;
	left:auto;
	top: 7px;
	position: absolute;
	opacity: 1;
	&:hover{
		opacity:0.7;
	}
	.rtl &{
		left:7px;
		right:auto;
	}
}
.header-top{
	background: #000;
	.top-left{
		margin: 0; list-style: none;
		li{
			float: left; color: #fff; padding: 12px 20px; text-transform: uppercase; font-size: 11px; position: relative;
			&:before{
				position: absolute; font-family: FontAwesome; position: absolute; top: 13px; left: 0; font-size: 13px;
				.rtl &{
					left: auto; right: 0;
				}
			}
			&.item1{
				&:before{
					content: "\f09d";
				}
			}
			&.item2{
				&:before{
					content: "\f1d1";
				}
			}
			&.item3{
				&:before{
					content: "\f276";
				}
			}
			&.item4{
				&:before{
					content: "\f095";
				}
			}
		}
	}
	.top-right{
		margin: 0; list-style: none;
		li{
			float: left; color: #fff; padding: 12px 20px; text-transform: uppercase; font-size: 11px; position: relative;
			&:before{
				position: absolute; font-family: FontAwesome; position: absolute; top: 13px; left: 0; font-size: 13px;
				.rtl &{
					left: auto; right: 0;
				}
			}
			&.item1{
				.rtl &{
					padding-left: 0;
				}
				&:before{
					content: "\f023";
				}
			}
			&.item2{
				padding-right: 0;
				.rtl &{
					padding-right: 20px;
				}
				&:before{
					content: "\f0ec";
				}
			}
		}
	}
	.top-header{
		img{
			margin-bottom: 0;
		}
	}
	.widget_nav_menu{
		ul.menu{
			li{
				float: left; padding: 11px 0;
				.rtl &{
					float: right;
				}
				a{
					font-size: 12px; padding: 0px 15px; display:inline-block; position: relative; color: #fff; .transition(all 0.3s);
				}
				&:hover{
					a{
						color: @body-color; .transition(all 0.3s);
					}
				}
				&:last-child{
					a{
						padding-right: 0;
						.rtl &{
							padding-right: 15px; padding-left: 0;
						}
					}
				}
			}
		}
	}
	.header-mes{
		font-size: 13px; text-transform: capitalize; padding: 13px 20px 11px 20px; position: relative;
		&:before{
			content: ""; width: 1px; height: 14px; background: #ddd; position: absolute; top: 13px; right: 5px;
			.rtl &{
				right: auto; left: 5px;
			}
		}
	}
}
.header-mid{
	padding:24px 0 17px 0; border-bottom: 1px @border-color solid;
	.mid-header{
		padding-right: 15px;
		.rtl &{
			padding-right: 0; padding-left: 15px;
		}
	}
	.top-login{
		padding:2px 0; margin:0 20px;
		ul{
			margin:0;
			li{
				list-style:none;
				a{
					font-size:13px;	color: #666; display:block; font-size: 11px;
					.rtl &{
						border-right: 0;
					}
					&:hover{
						color:@color;	
					}
					&.register{
						font-weight: 700; text-transform: uppercase; color: @body-color; font-size: 13px;
						&:hover{
							color:@color;
						}
					}
				}
			}
		}
	}
}
.header-bottom{
	position:relative; z-index:8; box-shadow: 0 1px 1px @border-color;
	.home-style1 &, .home-style2 &{
		box-shadow: none;
	}
	.contact-header{
		background: url(../assets/img/icon-phone.png) no-repeat left top 18px;
		padding:18px 0 10px 45px; font-size: 12px; color:#2d2d2d; font-weight: 700;
		.rtl &{
			padding:18px 45px 10px 0; background: url(../assets/img/icon-phone.png)  no-repeat right top 15px;;
		}
		.text{
			text-transform:capitalize;
		}
		.phone{
			color:@color;
		}
		a{
			font-weight: normal; text-transform: capitalize;
		}
	}
}
.shop4u_top{
	width: 100%;
	.top-form{
		&.top-search{
			display:inline-block;
			position:relative;
			border-radius:4px;
			background-color:#fff;
			width:100%;
			z-index:99;
			border: 1px @border-color solid;
			form{
				margin:0;
				position: relative;
			}
			input{
				width:100%; font-size: 13px;
				height:40px; line-height:40px;
				border:none; background: #eee;
				margin-bottom:0;
				padding-left:15px;
				border-radius: 4px;
				.rtl &{
					padding-right:15px;	padding-left:0;
				}
			}
			button.form-button{
				height:40px;
				line-height:40px;
				width:87px;
				margin:0;
				border:0;
				position:absolute;
				left:auto;
				right: 0;
				top:0;
				font-size:16px;
				color:#fff;
				border-radius: 0 4px 4px 0;
				background-color:#333; .transition(all 0.3s);
				.rtl &{
					border-radius: 4px 0 0 4px;
					left:0;
					right:auto;
				}
				&:hover{
					background-color: @color; .transition(all 0.3s);
					&:before{
						color:#fff;
					}
				}
			}
			&.non-category{
				input{
					padding: 0;
					.rtl &{
						padding-right: 0;
					}
				}
			}
		}
	}
}
#lang_sel{
	a, a:visited{
		border: 0 none;
		padding: 0;
	}
	a.lang_sel_sel{
		&:after{
			content: "\f107";
			font-family: FontAwesome;
			display: inline-block;
			font-size: 12px;
			margin-left: 4px;
			vertical-align: top;
			color:#666;
			line-height:18px;
			.rtl &{
				margin-right:4px;
				margin-left:0;
			}
		}
	}
	img.iclflag{
		margin-top: -1px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		.rtl &{
			margin:0 0 0 5px;
		}
	}
	> ul.nav{
		display:inline-block; list-style: none; margin: 0;
		> li{               
			position: relative;
			padding:13px 0 9px 0;
			> a{
				background-color: transparent; color: #666; font-size: 13px;
				span{
					display:inline-block;
				}
			}
			> ul{
				border: 1px solid @border-color; .transition(all 0.4s ease); visibility: hidden; .opacity(0);
				box-shadow: 0px 2px 1px @border-color;
				left: 0;
				top:60px;
				z-index: 99999;
				position: absolute;
				background: #fff;
				width: 100px;
				padding: 10px 20px 10px 20px;
				margin:0;
				.rtl &{
					right:0;	
					left:auto;
				}
				li{
					background: #fff;   
					border-right:none;
					list-style:none;
					&.active a{
						color:@color;
					}
					a{
						color: lighten( @body-color, 14% );
						display: block;
						height: auto;
						line-height: 28px;
						.iclflag{
							margin-right: 13px;
							.rtl &{
								margin-left:13px;
								margin-right:0;
							}
						}
					}
					&:hover{
						a {
							color: @color;
						}
					}
				}
				&:before{
					content: "";
					display: inline-block;
					background: transparent;
					height: 3px;
					width: 100%;
					position: absolute;
					top: -3px;
					right: 0;
				}
			}
			&:hover{
				> ul{
					.transition(all 0.4s ease); visibility: visible; .opacity(1); top:38px;
				}
			}
		}
	}
}
.currency_w {
	margin: 0;
	> li{
		position:relative;
		list-style:none;
		padding:13px 10px 9px 10px;
		> a{
			display: block; position: relative; color: #666; font-size: 13px;
			&:after{
				content: "\f107";
				font-family: FontAwesome;
				display: inline-block;
				margin-left: 10px;
				color: #666;
				line-height:18px;
				vertical-align: top;
				.rtl &{
					margin-right:10px;
					margin-left:0;
				}
			}
		}
		.currency_switcher {
			border: 1px solid @border-color;
			box-shadow: 0px 2px 1px @border-color;
			left: 0px;
			position: absolute;
			background: none repeat scroll 0 0 #fff;
			width: 75px;
			padding: 10px 20px;
			margin:0;
			top:60px; .transition(all 0.4s ease); visibility: hidden; .opacity(0);
			.rtl &{
				left: auto; right: 0;
			}
			li {
				width: 100%;
				margin:0;
				line-height: 28px;
				list-style:none;
				&:hover{
					a {
						color: @color;
					}
				}
				a {
					background: none;
					border: 0px;
					border-radius: 0px;
					color: lighten( @body-color, 14% );
					background: none;
					display: block;
					border-bottom: none;
					&.active{
						color: @color;
					}
				}
			}
			&:before{
				content: "";
				display: block;
				background: transparent;
				height: 3px;
				position: absolute;
				top: -3px;
				width: 100%;
			}
		}
		&:hover {
			.currency_switcher {
				.transition(all 0.4s ease); visibility: visible; .opacity(1);
				top: 38px; z-index: 9999; height: auto;
			}
		}
	}
}

.top-form{
	position: relative;  
	float: right;
	&:hover{
		.minicart-title{
			h3{
				color: @color;
			}
		}
		.wrapp-minicart{
			visibility: visible;
			opacity: 1;
			transform: translateY(0px);
			transition: opacity 0.35s ease, transform 0.35s ease;
		}
	}
	&.top-form-minicart{
		cursor: pointer;
		position:relative;
		.minicart-title{
			padding-top: 4px;
			h3{
				font-size: 11px; font-weight: normal; margin-bottom: 2px; color: #666;
			}
			a{
				font-weight: 700; text-transform: uppercase; font-size: 13px; color: @body-color;
			}
		}
		.top-minicart-icon{
			text-align: center; height:45px; width: 30px; color: #000;
			position:relative; font-size: 24px; font-weight: normal;
			.minicart-number{
				font-size:12px;
				display:inline-block;
				vertical-align:top;
				width:20px;
				height:20px;
				line-height:20px;
				position:absolute;
				left:0; bottom: -5px;
				background-color:@a-color;
				border-radius:50%;
				color: #fff;
				.rtl &{
					right: 0; left: auto;
				}
			}
		}
	}
	.wrapp-minicart{
		visibility: hidden;
		opacity: 0;
		transform: translateY(50px);
		transition:transform .3s ease;
		background: none repeat scroll 0 0 #fff;
		position: absolute;
		right: 0;
		left: auto;
		top: 58px;
		width: 318px;
		z-index: 99999;
		box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.255);
		.border-radius(4px);
		.header-style2 &{
			top:55px;
		}
		&:before{
			content: "";
			display: block;
			background: transparent;
			height: 25px;
			position: absolute;
			top: -25px;
			width: 100%;
		}
		.rtl &{
			left:0;
			right:auto;
		}
		.minicart-padding{
			.number-item{
				padding:25px 20px;
				font-size:13px;
				color:@body-color;
				font-weight: 600;
				.item{
					color:@a-color;
				}
			}
			ul.minicart-content{
				border-bottom: 1px @border-color solid;
				background: #fff;
				max-height: 323px;
				overflow: auto;
				margin-left: 0;
				li{
					list-style:none;
					position: relative;
					padding: 30px 20px;
					overflow: hidden;
					border-bottom:1px solid @border-color;
					&:first-child{
						padding-top:25px; border-top:1px solid @border-color;
					}
					&:last-child{
						border-bottom: none;
					}
					.product-image{
						display: inline-block;
						background: #fff;
						float: left;
						margin-right: 20px;
						position: relative;
						border: 1px @border-color solid;
						overflow: hidden;
						padding: 5px;
						.border-radius(4px);
						width: 95px;
						.rtl &{
							float:right;
							margin-left:20px;
							margin-right:0;
						}
						&:hover{
							&:before{
								content: ""; position: absolute; left: 0; right: 0; top:0; bottom: 0; background: @body-color; .opacity(0.15);
							}
						}
					}
					.product-action{
						position: absolute;
						top: 23px;
						right: 20px;
						.rtl &{
							left:20px;
							right:auto;
						}
						a.btn-remove{
							display:block;
							margin:7px 0;
						}
						.btn-edit{
							display:block;
							margin:7px 0;
						}
					}
					.detail-item {
						overflow: hidden;
						.product-details{
							h4{
								margin:0;
								padding-right:20px;
								.rtl &{
									padding-left:20px;
									padding-right:0;
								}
								a{
									font-size: 14px;
									color: @body-color;
									text-transform: capitalize;
									line-height: 22px;
									&:hover{
										color: @color;
									}
								}
							}
							.product-price{
								float: left;
								.rtl &{
									float:right;
								}
								.price{
									display:block;
									span.amount{
										font-size: 18px;
										color: @a-color;
										padding: 5px 0px;
										font-weight: 600;
										display: inline-block;
									}
								}
								.qty{
									display:inline-block;
									width:30px;
									height:30px;
									line-height:30px;
									text-align:center;
									color:#777;
									.border-radius(4px);
									font-size:14px;
									border:1px solid @border-color;
								}
							}
						}
					}
				}
			}
		}
		.cart-checkout{
			line-height: normal;
			.price-total{
				line-height: 41px;
				padding: 0 25px;
				.label-price-total{
					font-weight: 600;
					color: @body-color;
					text-transform:capitalize;
				}
				.price-total-w{
					float: right;
					.rtl &{
						float:left;
					}
					span.price{
						span.amount{
							font-size: 18px; font-weight: 600;
							color: @a-color;
						}
					}
				}
			}
			.cart-links{
				padding: 15px 22px;
				overflow: hidden;
				width:100%;
				.cart-link{
					text-align:left;
					.rtl &{
						text-align:right;
					}
				}
				.checkout-link{
					text-align:right;
					.rtl &{
						text-align:left;
					}
				}
				.cart-link, .checkout-link{
					float: left; width:50%;
					.rtl &{
						float:right;
					}
					a{
						font-size: 12px;
						color: @body-color;
						line-height: 43px;
						height:43px;
						padding: 0 25px;
						color: #fff;
						display: inline-block;
						text-transform:uppercase;
						background: @color; color: #fff;
						.border-radius(4px);
					}
					&:hover{
						a{
							background-color: darken(@color, 10%);
						}
					}
				}
				.checkout-link{
					a{
						background: @body-color;
					}
				}
			}
		}
	}
}

.slideshow-home1{
	margin-left:-15px;
	.rtl &{
		margin:0 -15px 0 0;
	}
	.vc_column-inner{
		padding:0;
	}
	.wpb_revslider_element{
		float:left;
		min-width:650px;
		margin-bottom:0;
		.rtl &{
			float:right;
		}
	}
}
