// TODO: css for shortcodes.
/* ========================================================== */
/* Quote Border ============================================= */
.quote-border{	
	background-color: #f4f4f4;
	padding: 20px;
	margin-bottom: 10px;
	font-style: italic;
	border: 1px solid #ddd;
	.border-radius(3px);
}
/* ========================================================== */
/* Video ==================================================== */
iframe{
	border:none;
	margin-bottom:10px;
	max-width:100%;
}
/* =========================================================== */
/* Ya Why Choose Us  ========================================= */
.block-whychoose {
	margin-bottom:30px !important;
	display:inline-block;
	.image-whychoose{
		float:left;
		width:64px;
		.rtl &{
			float:right;
		}
	}
	.content-whychoose{
		margin-left:80px;
		.rtl &{
			margin-right:80px;
			margin-left:0;
		}
		h2{
			color:#000;
			font-size:13px;
			text-transform:uppercase;
		}
		.description{
			color:#666;
		}
	}
}

/*========================================================*/
/* Search Faqs ===========================================*/
.vc_wp_search .widget_search .searchform{
	.screen-reader-text{
		display:none;
	}
	input[type="submit"]{
		text-indent:-9999px;
		display:block;
		border:0;
		width:34px !important;
		height:34px;
		background: url('../assets/img/search-icon.png') no-repeat scroll center center #666 !important;
		&:hover{
			background: url('../assets/img/search-icon.png') no-repeat scroll center center @color !important;
		}
	}
	input[type="text"]{
		border:1px solid lighten(@border-color, 8%);
	}
}
/* ======================================================================== */
/* Titlte ================================================================= */
.wpb_single_image .vc_single_image-wrapper {
	img {
		&:hover {
			.opacity(.75);
		}
	}
}
/* =================================================================== */
/* =================================================================== */
#wp-calendar {
	width: 100%;
	caption {
		padding: 10px 0;
	}
	tr {
		th {
			text-align: center;
		}
		td {
			padding: 10px 0;
		}
	}
}
/* ======================================================== */
/* ======================================================== */
#subscribe_popup {
	text-align: left;
	display: none;
	background-repeat: no-repeat;
	background-color: #fff;
	position:relative;
	width:840px;
	.subscribe-popup-container {
		padding: 15px;
		.image-newsletter{
			width:50%;
		}
		.subscribe-content{
			width:50%;
			text-align:center;
			padding:60px 0;
		}
		h2{
			color: @body-color;
			font-size: 30px;
			font-weight: 600;
			margin-bottom:17px;
		}
		.description{
			font-size: 14px;
			color: #666;
			font-weight: 400;
			line-height:24px;
			margin-bottom: 30px;
		}
		.subscribe-form {
			margin-bottom: 15px;
			border:1px solid @border-color;
			max-width:390px;
			position:relative;
			p, input{
				margin:0;
			}
			input[type="email"]{
				padding: 0 15px;
				height: 43px;
				line-height: 43px;
				overflow: hidden;
				display: block;
				font-size: 13px;
				border-radius:0;
				border:0;	
			}
			input[type="submit"]{
				background: url(@{url}/icon-newsletter.png) no-repeat center center #fff;
				position: absolute;
				height: 43px;
				width: 43px;
				overflow: hidden;
				top:0;
				right:0;
				text-indent:-9999px;
				border:0;
				border-radius:0;
				.rtl &{
					left:0;
					right:auto;
				}
				&:before {
					display: none;
				}
				&:hover {
					opacity:0.85;
				}
			}
		}
		.subscribe-checkbox {
			line-height: 30px;
			clear:both;
			input {
				cursor: pointer;
			}
			label {
				vertical-align: top;
				line-height: 25px;
				margin: 0;
				font-weight: normal;
				color: @body-color;
				font-weight: 500;
				span{
					display: inline-block;
					vertical-align: top;
					line-height: 20px;
					color:#666;
					font-weight:400;
				}
			}
		}		
	}
	.subscribe-social{
		padding: 0;
		text-align:center;
		position:relative;
		z-index:3;
		margin-top: 10px;
		h3{
			color:#fff;
			font-weight: 700 !important;
			font-size:16px;
			text-transform:uppercase;
		}
		> .subscribe-social-inner {
			.shop4u-socials ul{
				margin: 0;
				> li > a{
					display: block;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					font-size: 12px;
					line-height: 30px;
					color:#555;
					background: #fff;
					margin: 0 5px;
					border:1px solid @border-color;
					&:hover{
						border:1px solid @color;
						background-color:@color;
						color:#fff;
					}
				}
			}
		}
	}
}

.sw-instagram-gallery {
	margin-bottom:10px;
	.intagram-gallery-content {
		margin: 0 -5px;
		display: inline-block;
		vertical-align: top;
		.item {
			position:relative;
			padding: 0 5px;
			> a > .fa{
				position:absolute;
				z-index:2;
				font-size:24px;
				top:15px;
				right:15px;
				color:#cecece;
			}
			&:hover {
				img {
					.opacity(0.7);
				}
			}
		}
		&.col_1 {
			.item {
				width: 100%;
			}
		}
		&.col_2 {
			.item {
				width: 50%;
			}
		}
		&.col_3 {
			.item {
				width: 33.333%;
			}
		}
		&.col_4 {
			.item {
				width: 25%;
			}
		}	
		&.col_5 {
			.item {
				width: 20%;
			}
		}	
	}
}
.block-title-widget{
	h2{
		font-size:16px !important;
		color:@body-color;
		font-weight: 600;
		text-transform:uppercase;
		padding:20px;
		margin:0 !important;
	}
}
.sidebar .widget.widget_layered_nav ul{
	border:0;
}
.sidebar .widget.widget_product_categories{
	border:1px solid @border-color;
	.block-title-widget{
		background-color:#f2f2f2;
		h2{
			position: relative;
			padding: 15px;
			color: @body-color;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 0;
		}
	}
	.product-categories{
		border:0;
		> li{
			border-top:1px solid @border-color;
			border-bottom:0 !important;
			padding:15px 20px !important;
			&:last-child{
				border-top:1px solid @border-color !important;
			}
			> a{
				cursor:pointer;
				&:hover{
					color:@color;
				}
			}
		}
	}
}
.sw-category-slider{
	margin-bottom:30px;
	.home-style1 &{
		border-bottom: 1px @border-color solid;
	}
	.title-sytle1;
	.responsive{
		padding: 0 15px;
		.item-product-cat{
			padding:0 15px;
			&:hover{
				.item-image a img{
					.scale(1.05); .transition(all 0.4s);
				}
				.item-content h3 a{
					color:@color; .transition(all 0.3s);
				}
			}
			.item-image{
				a{
					overflow: hidden; display: block;
					img{
						margin:0; .transition(all 0.4s);
					}
				}
			}
			.item-content h3{
				a{
					display:block; .transition(all 0.3s); text-transform: uppercase;
					padding: 13px 0 10px 0; line-height: 30px;text-align:center; color:@body-color;
					font-size:16px; font-weight: 600; background-color:#fff;
				}
			}
		}
	}
	.res-button{
		display: none !important;
	}
}
.sw-category-slider2{
	margin-bottom:30px;
	.title-sytle1;
	.description{
		margin-bottom: 41px;
	}
	.responsive{
		margin:0 -15px;
		.item-product-cat{
			padding:0 15px;
			.item-wrap{
				position: relative;
				&:hover{
					.item-image a img{
						.scale(1.05); .transition(all 0.4s);
					}
					.item-content h3 a{
						color:@color; .transition(all 0.3s);
					}
				}
				.item-image{
					a{
						overflow: hidden; display: block;
						img{
							margin:0; .transition(all 0.4s);
						}
					}
				}
				.item-content{
					position: absolute; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.8); padding: 20px 20px;
					h4{
						margin: 0;
						a{
							color: #fff; text-transform: capitalize; font-weight: normal; font-size: 16px;.transition(all 0.3s);
							&:hover{
								color: @color;.transition(all 0.3s);
							}
						}
					}
					.des-cat{
						color: #fff; text-transform: uppercase; font-weight: 500; font-size: 18px;
					}
				}
			}
		}
	}
	.res-button{
		display: none !important;
	}
}
/*========Countdown slider============*/
.countdown-slider{
	position:relative; margin-bottom: 30px;
	.title-sytle2; .button-style3;
	.slider{
		.item-countdown {
			.item-wrap{
				position:relative;
				.item-detail{
					.item-image-countdown{
						float:left;	width:47%; position: relative;
						.rtl &{
							float:right;
						}
					}
					.item-content{
						overflow: hidden; padding: 7px 5px 0 20px; text-align: left;
						.rtl &{
							text-align: right;
						}
						h4 a{
							color:@body-color;
							font-size:16px; font-weight: 600;
							text-transform:capitalize;
							&:hover{
								color:@color;
							}
						}
						.reviews-content{
							overflow:hidden; margin-bottom: 12px; margin-top: 9px;
						}
						.description1{
							line-height:22px; margin-bottom: 8px; font-size: 12px; color: #888;
						}
						.item-price{
							margin-bottom:11px;
							.amount{
								font-size:24px;
							}
							del{
								line-height:26px;
								font-size:14px;
								color:#aaa;
								.amount{
									line-height:26px;
									font-size:14px;
								}
							}
						}
						.product-countdown{
							background: @body-color; border-radius: 4px; padding-left: 35px; margin-bottom: 25px;
							.rtl &{
								padding-left: 0; padding-right: 35px;
							}
							.countdown-section{
								position:relative;
								display:inline-block;
								margin-right:24px;
								.rtl &{
									margin-left:24px;
									margin-right:0;
								}
								.countdown-amount{
									display:inline-block; vertical-align: top;
									min-width:25px;
									height:42px; line-height:42px;
									font-weight: 400;									
									text-align:center;
									font-size:18px;
									color:#fff;
									border-radius:3px; position: relative;
									&:before{
										content: ":"; position: absolute; right: -15px; top: 0;
										.rtl &{
											right: auto; left: -15px;
										}
									}
								}
								.countdown-period{
									text-align:center; padding-left: 5px;
									font-size:12px; height:42px; line-height:44px;
									display:inline-block; vertical-align: top;
									font-weight: normal;
									color:#fff;	text-transform:capitalize;
									.rtl &{
										padding-left: 0; padding-right: 5px;
									}
								}
								&:last-child, &:first-child{
									.countdown-amount{
										&:before{
											display: none;
										}
									}
								}
								&:first-child{
									.countdown-amount{
										&:after{
											content: "\f017"; font-family: fontawesome; position: absolute; left: -22px; top: 0; font-weight: normal;
											.rtl &{
												left: auto; right: -22px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			&:hover {
				.item-detail {
					.item-image-countdown{
						a.fancybox{
							opacity:1;
							.translateY(0);
						}
						.item-bottom {
							.opacity(1); 
							.button,
							.button.add_to_cart_button,
							.product_type_external,
							.product_type_grouped,
							.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
							.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
							.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
							a.compare,
							.group.fancybox {
								.translateY(0);
							}
						}	
					}
				}
			}
		}
	}
}
/*
* Best sellers
*/
.sw-best-seller-product{
	border:1px solid @border-color;
	>p{
		display: none;
	}
	.box-title{
		background-color:#f2f2f2;
		h3{
			position:relative;
			padding:15px;
			color:@body-color;
			font-size:16px;
			text-transform:uppercase;
			font-weight: 700;
			margin-bottom:0;
		}
	}
	.wrap-content{
		padding:15px 15px 2px;
		border-top:1px solid @border-color;
		>p{
			display: none;
		}
		.item{
			overflow:hidden; margin-bottom:20px;
			>p{
				display: none;
			}
			.item-inner >p{
				display: none;
			}
			.item-img{
				float:left;
				width:80px;
				margin-right:10px;
				position:relative;
				z-index:2;
				&:hover img{
					opacity:0.85;
				}
				.rtl &{
					float:right;
					margin-left:10px;
					margin-right:0;
				}
				br{
					display: none;
				}
			}
			.item-content{
				position:relative; padding-top:10px; overflow: hidden;
				>p{
					display: none;
				}
				h4 a{
					color:@body-color;
					font-weight: 500;
					font-size:14px;
					text-transform:capitalize;
					&:hover{
						color:@color;
					}
				}
				.item-price{
					display:inline-block;
					vertical-align:top;
					ins{
						margin:0 10px 0 0;
					}
					del{
						margin:0;
						line-height:24px;
					}
					.amount{
						font-size:16px;
					}
					del .amount{
						font-size:14px;
					}
				}
			}
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}
/*tab slider ajax*/
.sw-woo-tab-default{
	margin-bottom:45px;
	&:last-child{
		margin-bottom:40px;
	}
	.resp-tab .category-slider-content{
		overflow:hidden; .title-sytle1;
		.button-collapse{
			display:none;
		}
		&.style1{
			.box-title{
				position:absolute;
				top:-8px;
				right:-8px;
				left:auto;
				min-width:204px;
				text-align:right;
				.rtl &{
					text-align:left;
					left:-8px;
					right:auto;
				}
				h3{
					line-height:48px;
					background-color:@color;
					font-size:18px;
					padding:0 16px;
					color:#fff;
					font-weight: 600 !important;
					margin:0;
					border-top-left-radius:7px;
					border-top-right-radius:0;
					box-shadow:0 2px 3px 0px rgba(0,0,0,0.3);
					position:relative;
					text-transform:uppercase;
					&:before{
						content: '';
						width: 0;
						height: 0;
						border-bottom: 8px solid transparent;
						border-left: 8px solid  @color - #461900;
						border-right:0;
						right: 0;
						left:auto;
						bottom:-8px;
						position: absolute;
						.rtl &{
							left:0;
							right:auto;
							border-left: 0;
							border-right: 8px solid  @color - #461900;
						}
					}
				}
			}
			.categories-image{
				float:right;
				.rtl &{
					float:left;
				}
			}
			ul.nav-tabs{
				margin-right:196px;
				margin-left:0;
				.rtl &{
					margin-left:196px;
					margin-right:0;
				}
				> li{
					float:right;
					.rtl &{
						float:left;
					}
				}
			}
			.tab-content .tab-pane{
				&.active{
					.res-button{
						&.slick-prev{
							left:15px;
							right:auto;
							.rtl &{
								right:48px;
								left:auto;
							}
						}
						&.slick-next{
							left:48px;
							right:auto;
							.rtl &{
								right:15px;
								left:auto;
							}
						}
					}
				}
				.woo-tab-container-slider{
					border-right:0;
					border-left:1px solid @border-color;
					.slider .slick-list{
						margin:0;
					}
				}
			}
		}
		ul.nav-tabs{
			margin-left:196px;
			border:0;
			background-color:#f2f2f2;
			.rtl &{
				margin-right:196px;
				margin-left:0;
			}
			li{
				margin:0;
				.rtl &{
					float:right;
				}
				> a{
					border:0;
					font-size:12px;
					color:#333;
					text-transform:uppercase;
					padding:0 15px;
					line-height:40px;
					font-weight: 600;
					border-radius:0;
				}
				&.active> a, &:hover >a{
					background-color:#f2f2f2;
					color:@color;
				}
			}
		}
		.categories-image{
			float:left;
			position:relative;
			z-index:3;
			.item-image a{
				position:relative;
				display:block;
				&:before{
					display:inline-block;
					background-color: rgba(0,0,0,0.3);
					content: "";
					height: 100%;
					width: 100%;
					left: 0;
					position: absolute;
					top: 0;
					.transition(all .2s ease-in-out 0s);
					visibility: hidden;
					opacity: 0;
				}
				&:hover{
					&:before{
						opacity:1;
						visibility:visible;
					}
				}
			}
			.rtl &{
				float:right;
			}
		}
		.tab-content{
			.tab-pane{
				&.active{
					.button-style2;
					.res-button{
						top:6px;
					}
				}
				.woo-tab-container-slider{
					border-right:1px solid @border-color;
					.rtl &{
						border-left:1px solid @border-color;
						border-right:0;
					}
					.slider .slick-list{
						margin:0;
						padding:0;
						.item{
							overflow:hidden;
							margin:0;
						}
					}
				}
			}
		}
	}
}
/*
*	Slide featured slider 
*/
.sw-best-seller-product-slider, .sw-featured-product-slider{
	border:1px solid lighten(@border-color, 8%);
	margin:15px 0 30px;
	.title-sytle1;
	.customNavigation{
		.btn-bs{
			width:28px;
			height:28px;
			display:inline-block;
			position:absolute;
			top:11px;
			cursor:pointer;
			//.transition(all 0.3s);
			&.prev-bs{
				right:48px;
				background: url(../assets/img/bg_general.png) no-repeat  -20px -1111px;
				&:hover{
					background: url(../assets/img/bg_general.png) no-repeat -20px -1063px;;
				}
				.rtl &{
					left:15px;
					right:auto;
				}
			}
			&.next-bs{
				right:15px;
				background: url(../assets/img/bg_general.png) no-repeat  -20px -1015px;;
				&:hover{
					background: url(../assets/img/bg_general.png) no-repeat -20px -967px;;
				}
				.rtl &{
					left:48px;
					right:auto;
				}
			}
		}
	}
	.carousel-inner{
		overflow:hidden;
		.image-slide{
			float:left;
			width:50%;
			position:relative;
			z-index:3;
			.rtl &{
				float:right;
			}
		}
		.item{
			float:right;
			width:50%;
			padding:25px 0 0;
			.rtl &{
				float:left;
			}
			.item-detail{
				overflow:hidden;
				margin-bottom:30px;
				&:hover{
					.item-img img{
						opacity:0.85;
					}
				}
				.item-content{
					padding:15px 0 0;
					h4 a{
						font-size:14px;
						font-weight: 600;
						color:@body-color;
						text-transform:capitalize;
						&:hover{
							color:@color;
						}
					}
					.item-price{
						font-size:16px;
						del .amount{
							font-size:14px;
						}
					}
				}
				.item-img{
					width:90px;
					float:left;
					margin-right:20px;
					.rtl &{
						float:right;
						margin-left:20px;
						margin-right:0;
					}
				}
				&:last-child{
					margin-bottom:0;
				}
			}
		}
	}
}
/*============== SW Tab Categories================*/
.sw-woo-tab-cat{
	margin-bottom: 30px;
	.resp-tab {
		.top-tab-slider {
			.title-sytle1; text-align: center; margin-bottom: 19px;
			.box-title{
				margin-bottom: 15px;
				h3{
					margin: 0;
				}
			}
			.nav.nav-tabs {
				margin: 10px auto; display: inline-block; vertical-align: top; border-bottom: none;
				li {
					margin: 0 10px;				
					a {
						padding: 0 10px; height: 30px; line-height: 30px;
						overflow: hidden; font-size: 12px;
						text-transform: uppercase;
						color: #888; font-weight: 600;
						margin: 0; border: none; border-radius: 4px;
						background-color: transparent;
						.transition(all 0.3s);
					}
					&.active, &:hover {
						a {
							color: #fff; background: @body-color; .transition(all 0.3s);
						}
					}
				}
			}
		}
		.tab-pane{
			display: block;
			height: 0;
			overflow: hidden;
			&.active { 
				height: auto;
				overflow: visible;			
			}
		}	
	}
	.resp-slider-container{
		padding: 0 15px;
		.item{
			padding: 0 15px;
			.item-detail{
				.item-img{
					margin-bottom: 14px;
				}
			}
		}
	}
}
.sw-woo-tab-cat2{
	.title-sytle2; overflow: hidden;
	.top-tab-slider{
		width: 23%; float: left; border: 1px @border-color solid; margin-bottom: 0 !important;
		.rtl &{
			float: right;
		}
		.nav.nav-tabs {
			margin: 0;
			li {
				width: 100%; border-bottom: 1px @border-color solid; margin-bottom: 0;
				p{
					font-size: 16px; line-height: 24px;	text-transform: capitalize; background: @body-color; color: #fff; padding: 12px 15px; margin: 0;
					text-transform: uppercase; font-weight: 500;
				}
				a {
					padding: 15px; font-size: 13px; line-height: 23px;
					text-transform: capitalize; display: block;
					color: #666; background-color: transparent; border: none;
					.transition(all 0.3s);
				}
				&.active, &:hover {	
					a {
						color: @color; background: #fff; .transition(all 0.3s); 
					}
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
	.tab-content{
		width: 77%; float: left; padding-left: 30px; margin-bottom: 13px;
		.rtl &{
			float: right; padding-left: 0; padding-right: 30px;
		}
		.resp-slider-container{
			.item .item-wrap .item-detail .item-content{
				text-align: left;
				.rtl &{
					text-align: right;
				}
			}
		}
	}
	.image{
		width: 77%; float: right; padding-left: 30px;
		.rtl &{
			float: right; padding-left: 0; padding-right: 30px;
		}
	}
}
/*============== SW Best Selling Products================*/
.best-selling-product, .featured-product, .woo-slider-default{
	position: relative; margin-bottom: 30px;
	.title-sytle1; .button-style3;
}
.mostview-product{
	margin-bottom: 30px;
	.title-sytle1;
	.resp-slider-container{
		.item{
			.item-wrap2{
				.item-detail{
					.item-img{
						width: 90px; float: left;
						.rtl &{
							float: right;
						}
					}
					.item-content{
						overflow: hidden; padding: 0 10px;
						h4{
							margin-bottom: 15px;
							a{
								font-size: 14px; text-transform: capitalize;
							}
						}
						.reviews-content{
							margin-bottom: 10px;
						}
					}
				}
				&:first-child{
					margin-bottom: 30px;
				}
				&:hover{
					.item-detail .item-img a img{
						opacity: 0.8;
					}
				}
			}
		}
	}
}
.sw-brand-container-slider{
	padding:33px 30px; margin: 0 0 40px 0; position: relative;
	border: 1px @border-color solid; border-radius: 4px;
	.slider .item-brand-cat{
		margin:0;
		.item-image a img{
			.transition(all 0.3s); margin: 0 auto; width:auto;
			&:hover{
				opacity:0.85;
			}
		}
	}
	.button-style3;
	&.style1{
		border: none;
	}
}
.brand-border{
	border: 1px @border-color solid; border-width: 1px 0; margin-bottom: 30px;
	.sw-brand-container-slider.style1{
		margin-bottom: 0;
	}
}
.tab-countdown-slide {
	padding: 20px 0;
	margin-bottom: 30px;
	.top-tab-slider {
		float: left;
		display: block;
		width: 12%;
		margin-top: -7px;
		.rtl & {
			float:right;
		}
		ul {
			margin: 0;
			border:0;
			li {
				a {
					margin: 7px;
					height: 102px;
					width: 102px;
					border: 1px @border-color solid;
					display: block;
					position: relative;
					overflow: hidden;
					.transition(all 0.3s ease);
					img {
						height: auto;
					}
				}
				&.active,&:hover {
					.transition(all 0.3s ease);
					a {
						border: 1px @color solid; .transition(all 0.3s ease);
					}
				}
			}
		}
	}
	.top-tab-slider-full {
		display: none;
	} 
	.tab-content {
		width: 88%;
		float: left;
		clear: none;
		.item-wrap {
			&:hover {
				&:before,&:after {
					display: none;
				}
			}
			.item-detail {
				.products-thumb {
					float: left; position: relative; overflow: hidden;
				}
				.item-content {
					width: 53%;
					float: left;
					text-align: left;
					.rtl & {
						float: right;
						text-align: right;
					}
					.countdown-left {
						display: inline-block;
						width: 100%;
						color: #fff;
						margin-bottom: 35px;
						.countdown-section {
							background: #a97610;
							.border-radius(4px);
							width: 100px;
							display: inline-block;
							text-align: center;
							position: relative;
							line-height: normal;
							margin-right: 26px;
							position: relative;
							padding: 14px 0px;
							.rtl &{
								margin-right: 0; margin-left: 26px;
							}
							span {
								width: 100%;
								display: block;
								text-transform: capitalize;
								&.countdown-amount {
									font-size: 28px; color: #fff;
									font-weight: 600; margin-bottom: 4px;	
								}
								&.countdown-period{
									font-size: 16px;
								}
							}
							&:before {
								content: ":"; position: absolute; top: 15px; right: -17px; color: @border-color; font-size: 40px;
								.rtl &{
									right: auto; left: -17px;
								}	
							}
							&:last-child{
								margin-right: 0;
								&:before {
									display: none;
								}
							}
						}
					}
					h4 {
						margin-bottom: 23px;
						a {
							font-size: 30px; color: #fff; text-transform: capitalize; font-weight: 600;
						}
						&:hover{
							a{
								color: @color;
							}
						}
					}	
					.reviews-content{
						margin-bottom: 25px;
					}
					.description {
						margin-bottom: 15px; font-size: 12px; color: #888; line-height: 20px;
					}
					.item-price{
						display: inline-block; font-size: 24px; margin-bottom: 29px;
						del{
							font-size: 18px; margin-top: 5px;
						}
					}
					.item-bottom {
						font-size: 15px;
						z-index: 2;
						.clear {
							display: none;
						}					
						.add_to_cart_button,
						.product_type_external,
						.product_type_grouped  {
							min-width: 100px; height: 40px; line-height: 40px; .border-radius(20px);
							background: @color; color: #fff; display: inline-block; margin-right: 7px;
							text-transform: uppercase; padding: 0 30px; font-weight: 400; font-size: 14px;
							.rtl &{
								margin-right: 0; margin-left: 7px;
							}
							&:hover {
								background: darken(@color, 10%);
								&:before {
									color: #fff;
								}
							}
							&.loading {
								background-color: @color;
								.opacity(0.75);
								&:before {
									text-align: center;
									left: 0;
									background-color: @color;
									border-radius:16px;
									.rtl &{
										left: auto; right: 0;
									}
								}
							}
							&.added {
								background-color: @color;
								&:after{
									font-family: WooCommerce;
									content: "\e017";
									margin-left: .53em;
									vertical-align: bottom;
									.rtl &{
										margin-left: 0; margin-right: .53em;
									}
								}
							}
						}
						.yith-wcwl-add-to-wishlist {
							margin: 0; .border-radius(50%);
							.yith-wcwl-add-button,
							.yith-wcwl-wishlistaddedbrowse,
							.yith-wcwl-wishlistexistsbrowse {		
								position: relative;
								a { 
									.border-radius(50%);
									&:before {
										content: "\f004";
									}
								}
								&.show {
									display: inline-block !important;
									vertical-align: top;
								}
								.feedback {
									display: none;
								}
								.ajax-loading {
									position: absolute;
									left: 0;
									right: 0;
									top: 0;
									bottom: 0;
									margin: auto;
								}
							}
						}
						a.compare{
							&:before {
								font-size:14px;
								content: "\f021";
							}
							&:after{
								content: "";
								width: 1px;
								height: 16px;
								background: rgba(0,0,0,0.15);
								position: absolute;
								left: 0;
								top: 17px;
								.rtl &{
									left: auto; right: 0;
								}
							}
						}					
						.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
						a.compare{
							text-align:center;
							color: #333;
							background: #fff;
							height: 40px; line-height: 39px; min-width: 40px; .border-radius(50%);
							padding: 0;
							display: inline-block;
							vertical-align: top;
							overflow: hidden;
							position: relative;
							font-size: 0;
							margin: 0;
							&:before {
								font-family: fontawesome;
								font-size: 14px;									
							}
							&:hover {
								font-size: 0;
								padding: 0;
								&:before {
									color: @color;
								}
							}
						}
						.product_type_external,
						.product_type_grouped,
						.yith-wcwl-add-to-wishlist,
						a.compare,
						.group.fancybox {
							display: inline-block;
							vertical-align: top;
						}
						.yith-wcwl-wishlistaddedbrowse.show,
						.yith-wcwl-wishlistexistsbrowse.show {
							a {
								color: #333; background: #fff;
								&:before {
									color: @color;
								}							
							}
						}
						a.fancybox{
							text-align:center;
							color: #333; background: #fff;
							height: 40px; line-height: 39px; min-width: 40px; .border-radius(50%);
							padding: 0;
							display: inline-block;
							vertical-align: top;
							overflow: hidden;
							position: relative;
							font-size: 0;
							&:before {
								font-family: fontawesome;
								font-size: 14px;
								content:'\f002';						
							}
							&:after{
								content: "";
								width: 1px;
								height: 16px;
								background: rgba(0,0,0,0.15);
								position: absolute;
								left: 0;
								top: 17px;
								.rtl &{
									left: auto; right: 0;
								}
							}
							&:hover {
								color: @color;
							}
						}
					}
				}
			}
		}
	}
}
.sw_tab_countdown2{
	margin: 0;
	.block-title{
		z-index: 9; position: absolute; left: 53%; top: 44px;
		h3{
			font-size: 24px; color: @body-color; text-transform: uppercase; font-weight: 600;
		}
	}
	.tab-countdown-slide {
		padding: 0; margin-bottom: 40px;
		.tab-content {
			width: 100%; background: #fff; overflow: hidden; position: relative;
			.item-wrap .item-detail {
				.item-info{
					width: 49%; margin-right: 4%; float: left; border: 1px @border-color solid; padding: 20px 20px 8px 20px;
					.rtl &{
						margin-right: 0; margin-left: 3%; float: right;
					}
					.products-thumb {
						width: 84%;
					}
					.countdown-left {
						float:left; width: 16%; margin-top: 20px;
						.rtl & {
							float:right;
						}
						.countdown-section {
							display: block;	text-align: center;
							line-height: normal;
							padding: 15px 0 20px 0;
							border: 1px @border-color solid; margin-bottom: 10px;
							.countdown-amount {
								font-size: 24px;
								color: @color;
								font-weight: 500;
							}
							span {
								width: 100%;
								display: block;
								text-transform: capitalize;
								&.countdown-period {
									font-size: 12px; color: #999;
								}
							}
						}
					}
				}
				.item-content {
					width: 47%; padding-top: 159px;
					h4 {
						margin-bottom: 21px;
						a {
							color: @body-color; font-size: 20px;
							&:hover{
								color: @color;
							}
						}
					}
					.description{
						margin-bottom: 22px;
					}
					.reviews-content{
						margin-bottom: 14px;
					}
					.item-bottom {
						margin-bottom: 35px;
						.add_to_cart_button,
						.product_type_external,
						.product_type_grouped{
							width: 150px; text-align: center; padding: 0 20px;
						}
						.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
						a.compare{
							color: @body-color; background:#fff; border-radius: 50%; border: 1px @border-color solid;
							&:before {
								font-family: fontawesome;
								font-size: 14px;									
							}
							&:hover {
								&:before {
									color: @color;
								}
							}
						}
						a.compare{
							&:after{
								content: "";
								width: 1px;
								height: 16px;
								background: rgba(255,255,255,0.15);
								position: absolute;
								left: 1px;
								top: 17px;
								.rtl &{
									left: auto; right: 1px;
								}
							}
						}
						.product_type_external,
						.product_type_grouped,
						.yith-wcwl-add-to-wishlist,
						a.compare,
						.group.fancybox {
							display: inline-block;
							vertical-align: top;
						}
						.yith-wcwl-wishlistaddedbrowse.show,
						.yith-wcwl-wishlistexistsbrowse.show {
							a {
								color: @body-color; background:#fff; border-radius: 50%; border: 1px @border-color solid;
								&:before {
									color: @color;
								}							
							}
						}
						a.fancybox{
							color: @body-color; background:#fff; border-radius: 50%; border: 1px @border-color solid;
							&:hover {
								color: @color;
							}
							&:after{
								content: "";
								width: 1px;
								height: 16px;
								background: rgba(255,255,255,0.15);
								position: absolute;
								left: 1px;
								top: 17px;
								.rtl &{
									left: auto; right: 1px;
								}
							}
						}
					}
				}
			}
		}
		.top-tab-slider {
			width: 100%; max-width: 100%; margin:20px 0; position: relative;	   
			ul {	
				margin: 0 -15px;		
				li {
					position: relative; margin: 0 15px; padding-top: 10px;
					a {
						height: auto; width: auto;	margin:0; .transition(all 0.3s ease); border: 1px @border-color solid;
						&:before {
							display: none;
						}
					}
					&:hover,&.active {
						cursor: pointer; .transition(all 0.3s ease);
						a{
							border: 1px @color solid; .transition(all 0.3s ease);
						}
					}
					img {
						margin: 0 auto; width: 100%;
					}
				}
			}
			.sw-tab-slider{
				.button-style3;
			}
		}
	}
}
.sw-latest-product, .sw-featured-product, .sw-onsale-product{
	margin-bottom: 30px;
	.box-title{
		h2{
			font-size:20px;	color:@body-color; text-transform:uppercase; font-weight: 600; margin-bottom: 26px;
		}
	}
	.content-wrap{
		.item{
			.item-inner{
				margin-bottom: 20px;
				.item-thumbnail{
					width: 120px; border: 1px @border-color solid; .transition(all 0.3s);
				}
				.item-content{
					overflow: hidden; padding: 14px 10px 0 10px;
					h4{
						margin-bottom: 15px;
						a{
							font-size: 14px; text-transform: capitalize; color: @body-color;
							&:hover{
								color: @color;
							}
						}
					}
					.reviews-content{
						margin-bottom: 3px;
					}
				}
				&:hover{
					.item-thumbnail{
						border: 1px @color solid; .transition(all 0.3s);
					}
				}
			}
		}
	}
}
.testimonial-slider {
	margin-bottom: 30px; text-align: center; background: rgba(0, 0, 0, 0.6); padding-top: 55px;
	.block-title{
		h2{
			color: #fff; font-size: 24px; text-transform: uppercase;
		}
	}
	.carousel-inner{
		.client-say-info {
			margin-bottom: 102px;
			.image-client {
				width: 100%;
				float:none;
				img {
					display: table;
					margin: 0 auto;
					box-shadow: 0px 3px 7px 0px #ddd;
					border-radius: 50%; 
					width: 80px;
					&:hover {
						opacity: 0.8;
					}
				}
			}
			.name-client {
				margin-bottom: 10px; margin-top: 15px;
				h2 {
					margin-bottom: 2px; font-weight: 400; font-size: 18px; color:#fff;
				}
				.info-client{
					font-size: 12px; color: #888;
				}
			}
		}
		.client-comment {
			font-style: normal; font-size: 14px; padding: 18px 20%; color: rgba(255, 255, 255, 0.7); line-height: 29px;
		}
	}
	.carousel-indicators {
		margin: 0px;
		text-align: center;
		left: 0; right: 0; width: 100%;
		bottom: 52px;
		position: absolute;
		li {
			background-color:#888; margin: 0 3px;
			width: 10px; height: 10px;
			border-radius: 50%; border: none;
			&.active, &:hover {
				background-color: @color; border: none;
			}
		}
	}
}