.home-style2{
	.shop4u_breadcrumbs{
		display:none;
	}
	.wpb_revslider_element{
		margin-bottom:0;
	}
	.sw-category-slider {
		margin-top: -371px; margin-bottom: 25px;
		.box-title{
			position: relative; border-bottom: 1px solid #fff; margin-bottom: 30px;
			&:before{
				content: ""; background: @color;
				width: 100px; height: 1px;
				position: absolute;	bottom: -1px; left: 50%; margin-left: -50px;
			}
			h3{
				font-size: 20px;
			}
		}
		.resp-slider-container{
			background: #fff; margin: 0 -30px;
			.responsive{
				padding: 30px 15px 0 15px;
			}
		}
	}
	.sw-latest-product, .sw-featured-product, .sw-onsale-product{
		.box-title{
			position: relative; border-bottom: 1px solid @border-color; margin-bottom: 30px;
			&:before{
				content: ""; background: @color;
				width: 100px; height: 1px;
				position: absolute;	bottom: -1px; left: 0;
			}
			h2{
				font-size: 18px; margin-bottom: 11px;
			}
		}
	}
}
.rtl.home-style2{
	.sw-latest-product, .sw-featured-product, .sw-onsale-product{
		.box-title:before{
			right: 0; left: auto;
		}
	}
}
.header-style2{
	.header-top{
		background: @color; border-bottom: 1px darken(@color, 4%) solid;
		.currency_w > {
			li {
				padding-left: 0;
				.rtl &{
					padding-left: 10px; padding-right: 0;
				}
				> a{
					color: #fff; font-weight: 600; font-size: 12px;
					&:after{
						color: @body-color; font-weight: 600;
					}
				}
			}
		}
		#lang_sel > ul.nav > li > a{
			color: #fff; font-weight: 600; font-size: 12px;
			&:after{
				color: @body-color; font-weight: 600;
			}
		}
		.widget_nav_menu ul.menu li{
			padding: 11px 0 8px 0;
		}
	}
	.header-mid{
		background: #cb2d41; padding: 24px 0 27px 0;
	}
	.shop4u_top {
		border: 1px rgba(255, 255, 255, 0.2) solid; padding: 2px;
		.top-form.top-search {
			border: none; border-radius: 0;
			input{
				background: #cb2d41; border-radius: 0; height: 39px; line-height: 39px;
			}
			input::-webkit-input-placeholder{
				color: #fff;
			}
			input::-moz-placeholder{  
				color: #fff;  
			}
			input:-ms-input-placeholder{ 
				color: #fff; 
			}
			button.form-button{
				background: #fff; color: @body-color; width: 80px; height: 39px; line-height: 39px; font-size: 13px; text-transform: uppercase; font-weight: 600; border-radius: 0 2px 2px 0;
				.rtl &{
					border-radius: 2px 0 0 2px;
				}
				&:before{
					content: "search"; font-family: "Poppins",Helvetica,Arial,sans-serif;
				}
				&:hover{
					&:before{
						color: @color;
					}
				}
			}
		}
	}
	.header-bottom{
		.header-call{
			font-size: 13px; color: @body-color; margin-top: 21px; position: relative; padding-left: 15px;
			.rtl &{
				padding-left: 0; padding-right: 15px;
			}
			a{
				color: @color; display: inline-block; vertical-align: top;
			}
			&:before{
				position: absolute; content: "\f095"; font-family: fontawesome; left: 0; top: 1px; color: @color; font-size: 16px;
				.rtl &{
					left: auto; right: 0;
				}
			}
		}
	}
	.nav-pills >li > a{
		padding: 18px;
	}
}
.top-login2{
	ul{
		margin: 0;
		li{
			list-style: none;
			a{
				font-size: 0; color: #fff; width: 45px; height: 45px; line-height: 43px; border: 1px rgba(255, 255, 255, 0.2) solid; text-align: center; display: block; .transition(all 0.3s);
				border-radius: 50%;
				&:before{
					content: "\f007"; font-family: fontawesome; font-size: 16px;
				}
				&:hover{
					color: @body-color; .transition(all 0.3s);
				}
			}
		}
	}
	.div-logined{
		ul li a:before{
			content: "\f08b";
		}
	}
}
.brand-ship2{
	overflow: hidden; background: #fff; margin: 0 -15px;
	.item{
		width: 25%; float: left; padding: 0 15px; position: relative;
		.rtl &{
			float: right;
		}
		&:hover{
			.banner-wrap{
				background: #fff; .transition(0.3s ease); border: 2px @color solid;
				a{
					.transition(0.5s ease); cursor: pointer; color: @color;
					.banner-cout h3{
						color: @color; .transition(0.5s ease);
					}
				}
			}
		}
	}
	.banner-wrap{
		padding: 15px 0; text-align: center; border-radius: 4px; background: #f2f2f2; .transition(0.3s ease); border: 2px transparent solid;
		a{
			display: inline-block;
			> span{
				float: left; margin-right: 10px; font-size: 0;
				.rtl &{
					float: right; margin-left: 10px; margin-right: 0;
				}
			}
			.icon{
				background: url(@{url}/promotion.png) no-repeat center center;
			}
			.icon1{
				background-position: 9px -1px; width: 60px; height: 52px; .transition(0.5s ease);
			}
			.icon2{
				background-position: -117px 2px; width: 60px; height: 52px; .transition(0.5s ease);
			}
			.icon3{
				background-position: -242px 1px; width: 60px; height: 52px; .transition(0.5s ease);
			}
			.icon4{
				background-position: -382px 0px; width: 60px; height: 52px; .transition(0.5s ease);
			}
			.banner-cout{
				overflow: hidden; padding-top: 10px; text-align: left;
				.rtl &{
					text-align: right;
				}
				h3{
					font-size: 14px; text-transform: capitalize; line-height: 18px; margin-bottom: 0; font-weight: 600; color: @body-color; .transition(0.5s ease);
				}
				span{
					font-size: 14px; color: #999; text-transform: none; font-weight: normal;
				}
			}
		}
	}
}
.woo-slider-style1{
	.title-sytle2; .button-style3; margin-bottom: 30px;
	.slider{
		margin: 0 -15px;
		.item{
			padding: 0 15px;
			.item-wrap .item-detail .item-content{
				padding-top: 5px;
			}
		}
	}
}
.category-list-child{
	.title-sytle2; .button-style3;	
	.box-title{
		margin-bottom: 33px; border-color: #ccc;
	}
	.resp-slider-container{
		.item{
			margin-bottom: 21px; float: none; display: inline-block; margin-right: -3px; vertical-align: top;
			.item-product-cat{
				.item-thumb{
					a{
						display: block; position: relative;
						img{
							width: 100%;
						}
						span{
							position: absolute; bottom: 32px; left: 20px; background: @color; color: #fff; padding: 1px 9px; text-transform: uppercase; font-size: 10px; .transition(all 0.3s ease);
						}
					}
					&:hover{
						opacity: 0.8;
						a{
							span{
								background: #666; .transition(all 0.3s ease);
							}
						}
					}
				}
				.item-bot{
					padding: 0px 3px; overflow: hidden;
					h3{
						margin: 8px 0 6px 0;
						a{
							font-size: 14px; font-weight: 600; color: @body-color;
							&:hover{
								color: @color;
							}
						}
					}
					.childcat-product-cat{
						ul{
							list-style: square; margin-bottom: 0;
							.rtl &{
								margin-right: 15px; margin-left: 0;
							}
							li{
								a{
									color: #666; font-size: 12px; line-height: 24px;
									&:hover{
										color: @color;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.mail-style1{
	padding: 45px 0; margin-bottom: 44px;
}
.newsletter-style{
	text-align: center; overflow: hidden;
	h3{
		font-size: 20px; text-transform: uppercase; color: #fff; font-weight: 600; margin-bottom: 5px;
	}
	>p{
		font-size: 14px; text-transform: uppercase; color: #fff; margin-bottom: 25px;
	}
	.form-newsletter{
		display: inline-block; vertical-align: top; margin-bottom: 12px;
		p{
			margin-bottom: 0;
		}
		.mc4wp-form-fields{
			overflow: hidden;
		}
		input{
			margin: 0;
		}
		input[type="email"]{
			border:0; background: #f5f5f5;
			color:#8c8c8c;
			height:52px; padding: 0 15px;
			min-width: 400px;
			border-radius: 0; float: left;
			.rtl &{
				border-radius: 0; float: right;
			}
		}
		input[type="submit"]{
			border:0; padding: 0 15px;
			background-color:@color;
			height:52px; line-height: 52px;
			color:#fff;	text-transform:uppercase;
			text-align: center; font-weight: normal;
			font-family: "Poppins",Helvetica,Arial,sans-serif;
			border-radius: 0; float: left; font-size: 12px; .transition(all 0.3s);
			.rtl &{
				float: right;
			}
			&:hover{
				background-color:#3b3b3b; .transition(all 0.3s);
			}
		}
		.mc4wp-success{
			color: @body-color;
		}
	}
}
.shop4u-minicart2{
	margin-left: 25px;
	.rtl &{
		margin-left: 0; margin-right: 25px;
	}
	.top-minicart-icon{
		background: none !important; width: auto !important; height: auto !important;
		.cart-contents{
			color: #fff; border-radius: 50%;
			width: 45px;
			height: 45px; font-size: 14px;
			line-height: 43px;
			border: 1px rgba(255,255,255,0.2) solid;
			text-align: center;
			display: inline-block; vertical-align: top;
			.transition(all 0.3s);
			.minicart-number{
				background: #fff; color: @color; left: -13px; top: 1px; border-radius: 50%;
				.rtl &{
					left: auto; right: -13px;
				}
			}
		}
		.title-cart{
			display: inline-block; vertical-align: top; padding-top: 6px;
			h3{
				font-size: 14px;text-transform: uppercase; color: #fff; margin-bottom: 0; font-weight: 600;
			}
			span{
				display: block; color: #fff; font-size: 13px;
			}
		}
	}
}
.footer-download{
	margin-bottom: 0; text-align: right; margin-bottom: 42px;
	.rtl &{
		text-align: left; text-align: left;
	}
	h3{
		font-size: 18px; text-transform: uppercase; display: inline-block; vertical-align: top; margin-right: 15px; color: @body-color; font-weight: 600; margin-top: 10px;
		.rtl &{
			margin-right: 0; margin-left: 15px;
		}
	}
	p{
		display: inline-block; vertical-align: top;
		img{
			margin: 0;
		}
	}
}
.footer-social2{
	margin-bottom: 42px;
	h3{
		font-size: 18px; text-transform: uppercase; float: left; margin-right: 15px; color: @body-color; font-weight: 600; margin-top: 10px;
		.rtl &{
			margin-right: 0; margin-left: 15px; float: right;
		}
	}
	.socials-footer.style2{
		margin: 0;
		ul {
			li{
				margin: 0 10px 0 0;
				.rtl &{
					margin: 0 0 0 10px;
				}
				> a{
					background: #000; color: #fff; width: 40px;height: 40px; line-height: 40px; text-align: center; border-radius: 4px;
					font-size: 12px; font-weight: normal;.transition(all 0.3s);
					&:hover{
						background: @color;.transition(all 0.3s); color: #fff;
					}
				}
			}
		}
	}
}
.footer-style2{
	border-top: 1px @border-color solid; padding-top: 12px; padding-bottom: 8px;
}
@media (min-width: 1199px) and (max-width: 1824px){
	.home-style2 .sw-category-slider{
		margin-top: -250px;
	}
}

@media (min-width: 1199px) {
	.home-style2 {
		.wrapper_vertical_menu{
			opacity:1;.translateY(0); visibility:visible;
		}
		.sticky-menu{
			.vertical_megamenu-header{
				.wrapper_vertical_menu{
					opacity:0;.translateY(40px); visibility:hidden;
				}
				&:hover{
					.wrapper_vertical_menu{
						opacity:1;.translateY(0); visibility:visible;
					}
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	.home-style2 .sw-category-slider{
		margin-top: -200px;
	}
	.header-style2{
		.bottom-header{
			display: none;
		}
	}
	.responsive-post-slider.style2 .resp-slider-container .slider .item .item-detail .entry-content{
		padding: 20px 20px 0px 20px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (max-width: 991px) {
	.home-style2 .sw-category-slider{
		margin-top: 0;
	}
	.header-style2{
		.header-mid{
			.top-header{
				width: 100%; float: none; margin-bottom: 10px;
				.rtl &{
					float: none;
				}
			}
			.search-cate{
				float: left; width: 100%;
				.rtl &{
					float: right; width: 100%;
				}
			}
		}
		#main-menu .primary-menu .resmenu-container .navbar-toggle{
			border: 1px @color solid;
		}
	}
	.hidden-respone, .footer-download h3, .footer-social2 h3{
		display: none;
	}
	.footer .footer-copyright.style2{
		.sidebar-copyright, .copyright-text{
			float: none !important;
			.rtl &{
				float: none !important;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.countdown-slider .slider .item-countdown .item-wrap .item-detail .item-content{
		padding-top: 50px;
	}
}	
@media (max-width: 767px) {
	.home-style2 .wpb_revslider_element{
		margin-bottom: 20px;
	}
	.footer-download{
		display: none;
	}
	.footer-social2 .socials-footer.style2 ul {
		text-align: center;
		li{
			float: none; display: inline-block; vertical-align: top;
		}
	}
	.sw-woo-tab-cat2 {
		.top-tab-slider{
			width: 100%; float: none;
			.rtl &{
				float: none;
			}
		}
		.tab-content, .image{
			width: 100%; padding: 0;
			.rtl &{
				padding: 0;
			}
		}
	}
	.newsletter-style .form-newsletter{
		width: 100%;
		input[type="email"]{
			min-width: auto; width: 70%;
		}
		input[type="submit"]{
			width: 30%; padding: 0;
		}
	}
}
@media (max-width: 640px) {
	.header-style2{
		.header-top .widget_nav_menu{
			display: none;
		}
		.header-mid{
			padding: 17px 0 5px 0;
			.main-menu{
				float:right;
				.rtl &{
					float:left;
				}
			}
			.search-cate{
				margin-top: 15px;
			}
			.mid-header{
				float: none;
				.sw_top {
					float: none;
					.top-login2{
						float: left; margin: 0 15px;
						.rtl &{
							float: right;
						}
					}
				}
			}
		}
		.shop4u_top{
			float: right;
		}
	}
	.countdown-slider .slider .item-countdown .item-wrap .item-detail {
		.item-image-countdown{
			width: 100%; float: none;
			.rtl &{
				float: none;
			}
		}
		.item-content{
			overflow: visible; padding: 10px;
		}
	}

}
@media (max-width: 480px) {
	.category-list-child .resp-slider-container .item{
		width: 100%;
	}
}
@media (max-width: 360px) {

}